// GLOBAL - import where needed

body
  background: url('/sites/default/themes/flip_theme/img/body-background-pattern.png')
  background-color: #dcddd7
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  font-weight: 400
  font-size: 14px
  line-height: 1.4em
  letter-spacing: normal
    
p
  line-height: 1.4em
  font-size: 14px

h1
  font-size: 21px
  margin-top: 24px
  margin-bottom: 12px
  font-family: museo

h2
  font-size: 22px
  margin-top: 24px
  margin-bottom: 12px
  font-family: museo

h3
  font-size: 15px
  margin-top: 12px
  margin-bottom: 12px
  font-family: museo

h4
  font-size: 12px
  line-height: 12px
  margin-top: 12px
  margin-bottom: 12px
  font-family: museo
    
h6
  font-family: museo
    
ul ul, ol ol, ul ol, ol ul
  margin-top: 0
  margin-bottom: 0

b, strong, em, small, code
  line-height: 1

sup
  vertical-align: baseline
  position: relative
  top: -0.4em

sub
  vertical-align: baseline
  position: relative
  top: -0.4em
  top: 0.4em

.item-list ul li
  list-style-type: none
    
ol.search-results
  border-top: 0px    

#header_top
  border-bottom: none

.title_block 
  background: none
  border-bottom: 1px solid #F2F2F2
    
.topic_host
  background-color: transparent

#sidebar-first
  outline: none !important
    
.field-type-text-with-summary
  border-bottom: none
    
.breadcrum
  h1
    font-size: 2.5em
    line-height: 1.2em
    margin-top: 20px
    max-width: none

div.modal-forms-modal-content
  color: inherit !important
  height: auto !important
  border-radius: 3px
  .popups-container 
    padding: 30px
    width: auto
    height: auto
    background: white
    position: fixed
    z-index: 100
    border-radius: 5px
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
  .popups-close 
    margin-top: -5px !important
