// MEDIA QUERIES - import where needed

@media only screen and (min-device-width : 320px) and (max-device-width : 667px)
  .container
    width: 100%
  #main
    margin-top: -7px
  body
    padding-left: 0px
    padding-right: 0px
  .big-padding
    width: 100%
    overflow: hidden
    h2
      padding-top: 40px 
      padding-bottom: 15px
      margin-top: 0px
      text-align: left
      font-size: 20px
      padding-left: 20px
      padding-right: 20px
    .span4.reveal
      width: 100%
  .para
    h2
      padding-left: 0px
      padding-right: 0px
  .quote-front
    background: #f2f2f2
    margin-top: 25px
    padding-left: 20px
    padding-right: 20px
    &:hover
      border: 0px
      margin-top: 15px
  .footer-content .block
    width: 100%
  #main-content 
    margin-top: 0px
    padding-top: 0px
  h2
    font-size: 20px
  h3
    14px
  #admin-menu-wrapper
    padding: 0px
    margin-top: -30px
  .front-main-padding
    padding-left: 0px
    padding-right: 0px
    padding-bottom: 0px
  iframe
    width: 100% !important
  .general-responsive-padding
    padding: 10px 20px 10px 20px   
  .general-responsive-padding-title
    padding: 0px 20px 0px 20px 
  .sixsix-percent
    width: 100%
    float: none
  .threethree-percent
    width: 100%
    float: none
  .the-story-info-blocks-title
    padding-bottom: 20px
    height: auto !important
    width: 100% !important
  .the-story-info-blocks
    width: 100% !important
    .wrapper
      height: auto !important
      a.generic-anchor
        padding-top: 20px !important
      p
        min-height: 0px !important
  .img-wrap
    padding-bottom: 5px !important
  .five-years-loomio
    min-height: 0px !important
  #block-block-72
    min-height: 0px !important
  .backstory-loomio
    min-height: 0px !important
  .road-ahead
    padding-top: 20px
  .accordion-content img
    display: none !important
  .accordion .span5
    display: none  
  #block-quicktabs-news-events-quicktab ul.quicktabs-tabs li
    width: 49% !important
  .news-block .news-title
    margin-bottom: 0px
    padding-top: 10px    
  .news-block .img-wrapper
    width: auto
    height: 200px
    overflow: hidden
    margin: auto
  .news-block .body
    padding-left: 0px
  .news-block .created
    padding-left: 0px
  .events-block .news-title
    margin-bottom: 0px
    padding-top: 10px    
  .events-block .img-wrapper
    width: auto
    height: 200px
    overflow: hidden
    margin: auto
  .events-block .body
    padding-left: 0px
  .events-block .created
    padding-left: 0px
  .news-body
    img
      float: none !important
      margin-left: auto !important
      margin-right: auto !important
  .block-top
    margin-top: 0px !important  
  .page-node-645 
    .block-top
      margin-top: 0px !important
  .quote-front
    margin-top: 0px !important
  #block-block-44
    .btn
      margin-bottom: 20px
  #block-block-49
    background: #f2f2f2
  .img-wrap img
    margin-bottom: 5px
    width: 100% !important
    height: 100% !important
  .the-story-info-blocks .wrapper
    height: auto !important
    width: 100% !important
  .mobile-padding-front-span
    padding-left: 20px 
  #block-block-15 p
    text-align: center
  .span4.no-border.text-right
    text-align: center
    margin-top: -15px !important
  #footer .container
    width: 100% !important
  #block-block-15 .row-fluid
    margin-left: 0px
  .page-user-register.ui-login-forms .container
    width: 80%
  .page-user-login.ui-login-forms .container
    width: 80%
  .page-user-password.ui-login-forms .container
    width: 80%
  .page-user-edit.ui-login-forms .container
    width: 80%
  .page-user-reset #main .container
    width: 78%
  .page-node-614 ul.quicktabs-tabs li a.active
    border: none
    background: none
    box-shadow: none
    padding-left: 50px
  .quick-margins
    margin-bottom: 0px
  #block-block-84 .para
    padding-bottom: 50px
  .next-5-years img
    display: none
  .discuss-warning-alert
    background-color: #f1f1f1 !important
    color: #333 !important
    padding-left: 20px !important
    padding-right: 20px !important
    .dark-anchor
      color: red !important
  .front-well-padding
    padding-left: 0px !important
  #sidebar-first
    display: block !important
  .node-type-book .mc-content.span9
    width: 100% !important
    padding-left: 30px !important
  .sidebar-first .span9
    margin-left: 30px !important
  .book-explorer
    margin-left: 30px !important
  a.book-title
    margin-left: 30px !important
  .node-type-book #main-content
    padding: 0px 0px 20px 0px
    margin-top: 0px !important
  .node-type-book .nav-tabs
    padding-right: 30px
  #block-block-88
    margin-top: 0px !important
    .content
      margin-top: 0px !important
      padding-top: 0px !important
      padding-bottom: 0px !important
  #block-block-87
    margin-top: 50px !important
    .content
      margin-top: 0px !important
      padding-top: 0px !important
      padding-bottom: 0px !important
  #block-block-87 .para.stack .row
    background-color: #222 !important
  .node-type-book .nav-tabs > li
    border: 0px solid transparent !important
    background: gainsboro !important
    display: inline-flex !important
  .node-type-book ul.nav.nav-tabs
    margin-top: 30px
  .comment_bubble.span9
    width: 65%
    float: right
    margin-top: 10px
  .span3.comment_profile
    width: 20%
    float: left
    margin-left: -10px !important
  .comment_bubble::after
    top: 0px
  #comments .comment .submitted span a
    text-align: center
    float: left
    margin-top: 50px
    margin-left: -60px
  .node-type-book .para h2
    padding-left: 0px
  #block-block-88 .para.stack
    min-height: 0px !important
  .node-type-book #main-content:before
    content: "\f02e"
    font-family: fontawesome
    font-size: 32px
    position: relative
    left: 7px
    margin-bottom: 0px
    transform: rotate(-90deg)
    top: 255px !important
    left: 5px !important
  #sidebar-first.is_stuck
    transition: 0.3s
    box-shadow: 0px -2px 17px #eee
      

    
@media only screen and (min-device-width : 414px) and (max-device-width : 736px)
  .front-call
    height: 300px !important
  .front-call2
    height: 300px !important
  .front-call3
    height: 300px !important
  .front-main-padding
    padding-left: 0px
    padding-right: 0px
    padding-bottom: 0px
  iframe
    width: 100% !important
  .general-responsive-padding
    padding: 10px 20px 10px 20px  
  .general-responsive-padding-title
    padding: 0px 20px 0px 20px 
  .sixsix-percent
    width: 100%
    float: none
  .threethree-percent
    width: 100%
    float: none
  .the-story-info-blocks-title
    padding-bottom: 20px
    height: auto !important
    width: 100% !important 
  .the-story-info-blocks
    width: 100% !important
    .wrapper
      height: auto !important
      a.generic-anchor
        padding-top: 20px !important
      p
        min-height: 0px !important
  .img-wrap
    padding-bottom: 5px !important
  .five-years-loomio
    min-height: 0px !important
  #block-block-72
    min-height: 0px !important
  .backstory-loomio
    min-height: 0px !important
  .road-ahead
    padding-top: 20px
  .accordion-content img
    display: none !important
  .accordion .span5
    display: none   
  #block-quicktabs-news-events-quicktab ul.quicktabs-tabs li
    width: 49% !important
  .news-block .news-title
    margin-bottom: 0px
    padding-top: 10px    
  .news-block .img-wrapper
    width: auto
    height: 200px
    overflow: hidden
    margin: auto
  .news-block .body
    padding-left: 0px
  .news-block .created
    padding-left: 0px
  .events-block .news-title
    margin-bottom: 0px
    padding-top: 10px    
  .events-block .img-wrapper
    width: auto
    height: 200px
    overflow: hidden
    margin: auto
  .events-block .body
    padding-left: 0px
  .events-block .created
    padding-left: 0px
  .news-body
    img
      float: none !important
      margin-left: auto !important
      margin-right: auto !important    
  .block-top
    margin-top: 0px !important    
  .page-node-645 
    .block-top
      margin-top: 0px !important
  .quote-front
    margin-top: 0px !important
  #block-block-44
    .btn
      margin-bottom: 20px
  #block-block-49
    background: #f2f2f2
  .mobile-padding-front-span
    padding-left: 20px
  #block-block-15 p
    text-align: center
  .span4.no-border.text-right
    text-align: center
    margin-top: -15px !important
  #footer .container
    width: 100% !important
  #block-block-15 .row-fluid
    margin-left: 0px
  .page-user-register.ui-login-forms .container
    width: 80%
  .page-user-login.ui-login-forms .container
    width: 80%
  .page-user-password.ui-login-forms .container
    width: 80%
  .page-user-edit.ui-login-forms .container
    width: 80%
  .page-user-reset #main .container
    width: 78%
  .page-node-614 ul.quicktabs-tabs li a.active
    border: none
    background: none
    box-shadow: none
    padding-left: 50px
  .quick-margins
    margin-bottom: 0px
  #block-block-84 .para
    padding-bottom: 50px
  .next-5-years img
    display: none
  .discuss-warning-alert
    background-color: #f1f1f1 !important
    color: #333 !important
    padding-left: 20px !important
    padding-right: 20px !important
    .dark-anchor
      color: red !important
  .front-well-padding
    padding-left: 0px !important
  #sidebar-first
    display: block !important
  .node-type-book .mc-content.span9
    width: 100% !important
    padding-left: 30px !important
  .sidebar-first .span9
    margin-left: 30px !important
  .book-explorer
    margin-left: 30px !important
  a.book-title
    margin-left: 30px !important
  .node-type-book #main-content
    padding: 0px 0px 20px 0px
    margin-top: 0px !important
  .node-type-book .nav-tabs
    padding-right: 30px
  #block-block-88
    margin-top: 0px !important
    .content
      margin-top: 0px !important
      padding-top: 0px !important
      padding-bottom: 0px !important
  #block-block-87
    margin-top: 50px !important
    .content
      margin-top: 0px !important
      padding-top: 0px !important
      padding-bottom: 0px !important
  #block-block-87 .para.stack .row
    background-color: #222 !important
  .nav-tabs > li
    border: 0px solid transparent !important
    background: gainsboro !important
  .node-type-book .nav-tabs > li
    border: 0px solid transparent !important
    background: gainsboro !important
    display: inline-flex !important
  .node-type-book ul.nav.nav-tabs
    margin-top: 30px
  .comment_bubble.span9
    width: 65%
    float: right
    margin-top: 10px
  .span3.comment_profile
    width: 20%
    float: left
    margin-left: -10px !important
  .comment_bubble::after
    top: 0px
  #comments .comment .submitted span a
    text-align: center
    float: left
    margin-top: 50px
    margin-left: -60px
  .node-type-book .para h2
    padding-left: 0px
  #block-block-88 .para.stack
    min-height: 0px !important
  .node-type-book #main-content:before
    content: "\f02e"
    font-family: fontawesome
    font-size: 32px
    position: relative
    left: 7px
    margin-bottom: 0px
    transform: rotate(-90deg)
    top: 255px !important
    left: 5px !important
  #sidebar-first.is_stuck
    transition: 0.3s
    box-shadow: 0px -2px 17px #eee

    
    
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : landscape)
  .container
    width: 100%
  #main
    margin-top: -7px
  body
    padding-left: 0px
    padding-right: 0px
  .big-padding
    width: 100%
    overflow: hidden
    h2
      padding-top: 40px 
      padding-bottom: 15px
      margin-top: 0px
      text-align: left
      font-size: 20px
      padding-left: 20px
      padding-right: 20px
    .span4.reveal
      width: 33%
      display: inline-block
      margin-right: -4px
  .quote-front
    background: #f2f2f2
    margin-top: 25px
    padding-left: 20px
    padding-right: 20px
    &:hover
      border: 0px
      margin-top: 15px
  .footer-content .block
    width: 100%
  #main-content 
    margin-top: 0px
    padding-top: 0px
  h2
    font-size: 20px
  h3
    14px
  #admin-menu-wrapper
    padding: 0px
    margin-top: -30px
  .front-call
    height: 280px !important
  .front-call2
    height: 280px !important
  .front-call3
    height: 280px !important
  .front-main-padding
    padding-left: 0px
    padding-right: 0px
    padding-bottom: 0px
  iframe
    width: 100% !important
  .general-responsive-padding
    padding: 10px 20px 10px 20px 
  .general-responsive-padding-title
    padding: 0px 20px 0px 20px 
  .sixsix-percent
    width: 100%
    float: none
  .threethree-percent
    width: 100%
    float: none
  .the-story-info-blocks-title
    padding-bottom: 20px
    width: 100% !important
    height: auto !important
  .the-story-info-blocks
    width: 100% !important
    .wrapper
      height: auto !important
      a.generic-anchor
        padding-top: 20px !important
      p
        min-height: 0px !important
  .img-wrap
    padding-bottom: 5px !important
  .five-years-loomio
    min-height: 0px !important
  #block-block-72
    min-height: 0px !important
  .backstory-loomio
    min-height: 0px !important
  .road-ahead
    padding-top: 20px
  .accordion-content img
    display: none !important
  .accordion .span5
    display: none   
  #block-quicktabs-news-events-quicktab ul.quicktabs-tabs li
    width: 49% !important
  .news-block .news-title
    margin-bottom: 0px
    padding-top: 10px    
  .news-block .img-wrapper
    width: auto
    height: 200px
    overflow: hidden
    margin: auto
  .news-block .body
    padding-left: 0px
  .news-block .created
    padding-left: 0px
  .events-block .news-title
    margin-bottom: 0px
    padding-top: 10px    
  .events-block .img-wrapper
    width: auto
    height: 200px
    overflow: hidden
    margin: auto
  .events-block .body
    padding-left: 0px
  .events-block .created
    padding-left: 0px
  .news-body
    img
      float: none !important
      margin-left: auto !important
      margin-right: auto !important    
  .block-top
    margin-top: 0px !important   
  .page-node-645 
    .block-top
      margin-top: 0px !important
  .quote-front
    margin-top: 0px !important
  #block-block-44
    .btn
      margin-bottom: 20px
  #block-block-49
    background: #f2f2f2
  .img-wrap img
    margin-bottom: 5px
    width: 100% !important
    height: 100% !important
  .the-story-info-blocks .wrapper
    height: auto !important
    width: 100% !important
  .mobile-padding-front-span
    padding-left: 20px
  #block-block-15 p
    text-align: center
  .span4.no-border.text-right
    text-align: center
    margin-top: -15px !important
  #footer .container
    width: 100% !important
  #block-block-15 .row-fluid
    margin-left: 0px
  .page-user-register.ui-login-forms .container
    width: 80%
  .page-user-login.ui-login-forms .container
    width: 80%
  .page-user-password.ui-login-forms .container
    width: 80%
  .page-user-edit.ui-login-forms .container
    width: 80%
  .page-user-reset #main .container
    width: 78%
  .page-node-614 ul.quicktabs-tabs li a.active
    border: none
    background: none
    box-shadow: none
    padding-left: 50px
  .quick-margins
    margin-bottom: 0px
  #block-block-84 .para
    padding-bottom: 50px
  .next-5-years img
    display: none
  .discuss-warning-alert
    background-color: #f1f1f1 !important
    color: #333 !important
    padding-left: 20px !important
    padding-right: 20px !important
    .dark-anchor
      color: red !important
  .front-well-padding
    padding-left: 0px !important    
  #sidebar-first
    display: block !important
  .node-type-book .mc-content.span9
    width: 100% !important
    padding-left: 30px !important
  .sidebar-first .span9
    margin-left: 30px !important
  .book-explorer
    margin-left: 30px !important
  a.book-title
    margin-left: 30px !important
  .node-type-book #main-content
    padding: 0px 0px 20px 0px
    margin-top: 0px !important
  .node-type-book .nav-tabs
    padding-right: 30px
  #block-block-88
    margin-top: 0px !important
    .content
      margin-top: 0px !important
      padding-top: 0px !important
      padding-bottom: 0px !important
  #block-block-87
    margin-top: 50px !important
    .content
      margin-top: 0px !important
      padding-top: 0px !important
      padding-bottom: 0px !important
  #block-block-87 .para.stack .row
    background-color: #222 !important
  .nav-tabs > li
    border: 0px solid transparent !important
    background: gainsboro !important
  .node-type-book .nav-tabs > li
    border: 0px solid transparent !important
    background: gainsboro !important
    display: inline-flex !important
  .node-type-book ul.nav.nav-tabs
    margin-top: 30px
  .comment_bubble.span9
    width: 65%
    float: right
    margin-top: 10px
  .span3.comment_profile
    width: 20%
    float: left
    margin-left: -10px !important
  .comment_bubble::after
    top: 0px
  #comments .comment .submitted span a
    text-align: center
    float: left
    margin-top: 50px
    margin-left: -60px
  .node-type-book .para h2
    padding-left: 0px
  #block-block-88 .para.stack
    min-height: 0px !important
  .node-type-book #main-content:before
    content: "\f02e"
    font-family: fontawesome
    font-size: 32px
    position: relative
    left: 7px
    margin-bottom: 0px
    transform: rotate(-90deg)
    top: 255px !important
    left: 5px !important
  #sidebar-first.is_stuck
    transition: 0.3s
    box-shadow: 0px -2px 17px #eee



    
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)
  .container
    width: 100%
  #main
    margin-top: -7px
  body
    padding-left: 0px
    padding-right: 0px
  #main-content 
    margin-top: 0px
    padding-top: 0px
  .big-padding
    width: 100%
    overflow: hidden
  .wrapper .btn
    display: none    
  .five-years-loomio
    min-height: 0px !important
  #block-block-72
    min-height: 0px !important
  .backstory-loomio
    min-height: 0px !important    
  iframe
    width: 100% !important
    height: 400px !important
  .page-node-664 
    #main .container
      background-color: white
      padding: 0px 0px 40px 40px
      margin-top: 50px
      margin-bottom: 50px
      /* margin-right: -20px; */
      width: 80%
    #main-content
      #content
        width: 100%
        margin-left: -10px
  .page-node-670
    #main .container
      background-color: white
      padding: 0px 0px 40px 40px
      margin-top: 50px
      margin-bottom: 50px
      /* margin-right: -20px; */
      width: 80%
    #main-content
      #content
        width: 100%
  .page-eform-submit-email-capture
    #main .container
      background-color: white
      padding: 0px 0px 40px 40px
      margin-top: 50px
      margin-bottom: 50px
      /* margin-right: -20px; */
      width: 80%
    #main-content
      #content
        width: 100%
    #edit-actions
      width: 90%
  .node-type-poll
    #main .container
      background-color: white
      padding: 0px 0px 40px 40px
      margin-top: 50px
      margin-bottom: 50px
      /* margin-right: -20px; */
      width: 80%
    #main-content
      #content
        width: 100%
  .node-type-book .mc-content.span9
    width: 100% !important
    padding-left: 30px !important
  .node-type-book .mc-content.span8
    width: 90% !important
    padding-left: 30px !important
  #sidebar-first
    float: left
  .sidebar-first .span9
    margin-left: 30px !important
  .book-explorer
    margin-left: 30px !important
  a.book-title
    margin-left: 30px !important
  .node-type-book #main-content
    padding: 0px 0px 20px 0px
    margin-top: 0px !important
  .node-type-book .nav-tabs
    padding-right: 30px
  #block-block-88
    margin-top: 0px !important
    .content
      margin-top: 0px !important
      padding-top: 0px !important
      padding-bottom: 0px !important
  #block-block-87
    margin-top: 50px !important
    .content
      margin-top: 0px !important
      padding-top: 0px !important
      padding-bottom: 0px !important
  #block-block-87 .para.stack .row
    background-color: #222 !important
  #block-block-88 .para.stack
    min-height: 0px !important
  .node-type-book #main-content:before
    content: "\f02e"
    font-family: fontawesome
    font-size: 32px
    position: relative
    left: 7px
    margin-bottom: 0px
    transform: rotate(-90deg)
    top: 255px !important
    left: 0px !important
  #sidebar-first.is_stuck
    transition: 0.3s
    box-shadow: 0px -2px 17px #eee
    
       



// DESKTOP BREAKS //



@media (max-width: 979px)
  .container
    width: 100%
  #main
    margin-top: -7px
  body
    padding-left: 0px
    padding-right: 0px
  #main-content 
    margin-top: 0px
    padding-top: 0px
  .big-padding
    width: 100%
    overflow: hidden
  .wrapper .btn
    display: none    
  .five-years-loomio
    min-height: 0px !important
  #block-block-72
    min-height: 0px !important
  .backstory-loomio
    min-height: 0px !important    
  iframe
    width: 100% !important
    height: 400px !important
  #footer .container
    width: 100% !important


        

@media (max-width: 979px)
  .container
    width: 100%
  #main
    margin-top: -7px
  body
    padding-left: 0px
    padding-right: 0px
  .big-padding
    width: 100%
    overflow: hidden
    h2
      padding-top: 40px 
      padding-bottom: 15px
      margin-top: 0px
      text-align: left
      font-size: 20px
      padding-left: 20px
      padding-right: 20px
    .span4.reveal
      width: 33%
      display: inline-block
      margin-right: -4px
  .quote-front
    background: #f2f2f2
    margin-top: 25px
    padding-left: 20px
    padding-right: 20px
  .footer-content .block
    width: 100%
  #main-content 
    margin-top: 0px
    padding-top: 0px
  h2
    font-size: 20px
  h3
    14px
  #admin-menu-wrapper
    padding: 0px
    margin-top: -30px
  .front-call
    height: 280px !important
  .front-call2
    height: 280px !important
  .front-call3
    height: 280px !important
  .front-main-padding
    padding-left: 0px
    padding-right: 0px
    padding-bottom: 0px
  iframe
    width: 100% !important
  .general-responsive-padding
    padding: 10px 20px 10px 20px 
  .general-responsive-padding-title
    padding: 0px 20px 0px 20px 
  .sixsix-percent
    width: 100%
    float: none
  .threethree-percent
    width: 100%
    float: none
  .the-story-info-blocks-title
    padding-bottom: 20px
    width: 100% !important
    height: auto !important
  .the-story-info-blocks
    width: 100% !important
    .wrapper
      height: auto !important
      a.generic-anchor
        padding-top: 20px !important
      p
        min-height: 0px !important
  .img-wrap
    padding-bottom: 5px !important
  .five-years-loomio
    min-height: 0px !important
  .backstory-loomio
    min-height: 0px !important
  .road-ahead
    padding-top: 20px
  .accordion-content img
    display: none !important
  .accordion .span5
    display: none   
  #block-quicktabs-news-events-quicktab ul.quicktabs-tabs li
    width: 49% !important
  .news-block .news-title
    margin-bottom: 0px
    padding-top: 10px    
  .news-block .img-wrapper
    width: auto
    height: 200px
    overflow: hidden
    margin: auto
  .news-block .body
    padding-left: 0px
  .news-block .created
    padding-left: 0px
  .events-block .news-title
    margin-bottom: 0px
    padding-top: 10px    
  .events-block .img-wrapper
    width: auto
    height: 200px
    overflow: hidden
    margin: auto
  .events-block .body
    padding-left: 0px
  .events-block .created
    padding-left: 0px
  .news-body
    img
      float: none !important
      margin-left: auto !important
      margin-right: auto !important    
  .block-top
    margin-top: 0px !important  
  .page-node-645 
    .block-top
      margin-top: 0px !important
  .quote-front
    margin-top: 0px !important
  #block-block-44
    .btn
      margin-bottom: 20px
  #block-block-49
    background: #f2f2f2
  body
    padding-left: 0px !important
    padding-right: 0px !important
  .img-wrap img
    margin-bottom: 5px
    width: 100% !important
    height: 100% !important
  .the-story-info-blocks .wrapper
    height: auto !important
    width: 100% !important
  #block-block-15 p
    text-align: center
  .span4.no-border.text-right
    text-align: center
    margin-top: -15px !important
  #footer .container
    width: 100% !important
  #block-block-37 .quote-front
    padding-left: 30px
  #block-block-84 .para
    padding-bottom: 50px




        
//@media (min-width: 1200px)
  .span12
    width: 960px !important

@media only screen and (max-device-width: 600px), screen and (max-width: 600px)
  .sy-caption-wrap
    left: 65% !important
    bottom: 2em !important
    
@media (max-width: 767px)
  .node-type-book #sidebar-first
    display: block !important
    padding-left: 0px
  a.book-title
    margin-left: 10px !important