// NAVIGATION - import where needed

.menu_primary
  font-size: 14px
  margin-right: -14px

.menu_primary ul
  width: auto
  float: right

.menu_primary ul.menu li a.active
  color: #333
  text-decoration: none
  background-color: #dcddd7
  border-bottom: 0px
  &:hover
    color: #333
    
.menu_primary ul.menu li a
  display: inline
  margin: 0
  float: left
  padding: 8px 16px 8px 16px
  border-bottom: 0px
  text-transform: uppercase
  font-weight: 700
  font-size: .857142em
  color: #adadad

#block-search-form .search-query
  height: 15px
  width: 80px
  color: #6a6767
  top: 12px
  padding: 5px 35px 5px 5px
  font-size: 1.286em
  border: 1px solid #d1d1d1
  background-color: #ededed !important
  color: #666
  border-radius: 0px
  font-family: 'Museo-500'
  box-shadow: none
  font-size: 14px

#header
  background: #333333
  border-bottom: 0px solid #F2F2F2
  margin-top: 0px
  margin-bottom: 0px

#header_top
  margin: 0px
  padding-bottom: 0px
  margin-bottom: 35px

#header_bottom_right
  padding-top: 0px
  margin-top: -3px
  .account-menu 
    float: left
    display: inline-block
    zoom: 1


#header_bottom
  margin-top: 0px
    
ul.menu a:hover
  background-color: transparent
  color: white !important
  text-decoration: underline
    
.nav > li > a:focus
  text-decoration: none
  background-color: transparent
  outline: none
    
.page-sub
  background: #1F1F1F
  color: white
  border-bottom: 0px

.RMIT-btn
  background: red
  box-shadow: 0px !important
  border-radius: 0px

.big-padding
  margin-top: 5px
  background: white
  .title
    padding-top: 20px
    padding-bottom: 10px
  .span4.reveal
    margin-left: 0px
    width: 33%
    transition: 0.1s
  .span4.reveal
    &:hover
      background: #ddd
      transition: 0.1s
  .row
    margin-left: 0px
  h2
    padding-top: 25px
    padding-bottom: 10px
    margin-top: 0px
  a
//    color: #333 !important
    
#block-block-46
  margin-top: 25px
    
.para
  padding-left: 30px
  padding-right: 30px 

.para.stack
  padding-left: 0px
  padding-right: 0px 
  .row
    margin-right: 0px
  .row.no-padding
    padding: 0px !important
  &:hover
    border-top: 2px solid red
    margin-top: -2px
    
.row.row-alt
  background: #f5f5f5

.quote-front
  background: #f2f2f2
  margin-top: 15px
  padding: 0px 0px 0px 40px
  img
    min-height: 490px
  .home-offset-height
    max-height: 530px
    overflow: hidden
    
.container-fluid
  padding-right: 0px
  padding-left: 0px

.main 
  margin-bottom: 0px !important
  .block
    margin-bottom: 0px

.container
  width: 960px

#header_bottom_right #user_details .btn.dropdown-toggle
  padding: 4px 6px
  background: transparent
  color: #adadad
  text-shadow: none
  box-shadow: none
  border: 0px
  font-size: 13px
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  font-weight: 600

.nav-span
  margin-bottom: -3px

.site-footer
  margin-top: 10px
  margin-bottom: 10px

#main
  background-image: url("/sites/default/themes/flip_theme/img/background-abstract-placeholder.png")
  background-repeat: no-repeat
  background-size: 100%
  background-position: -10px 50px

#block-block-15 
  .row-fluid
    border-top: 1px solid #c7c7c7
        
#search-box
  padding-top: 15px
  padding-right: 5px

.header .site-logo img
  max-height: 65px
  margin-top: 15px

#header_bottom_right #user_details .navigation-profile-picture
  display: inline-block
  zoom: 1
  width: 30px
  padding-top: 0px

#header_bottom_right #user_details .navigation-profile-picture img
  width: 30px
  height: 30px
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  -webkit-border-radius: 30em
  -moz-border-radius: 30em
  border-radius: 0px
  border: 0px


// hide page title & admin menu //

.icon-chevron-right
  color: #DC291E

#page-title
  line-height: 1
  text-align: left
  display: none
    
#content-head
  .tabs
    display: none
        
.front-call
  background: #333333 !important
  height: 240px !important
  overflow: hidden
  img
    height: 100%
    width: 100%
    transition: 0.3s
    opacity: 0.8
  
.front-call-content
  color: #333333
  display: inline-flex
  font-family: Arial, Helvetica, sans-serif
  font-size: 13px
  font-weight: 700
  line-height: 1.167em
  margin: 0
  margin-left: 7px
  text-transform: uppercase
  padding: 15px
        
.front-call-bottom
  display: none
  background: #f5f5f5 !important
  height: 240px !important
  overflow: hidden
  p
    color: #f5f5f5
    padding: 15px

.front-call-bottom2
  display: none
  background: #f5f5f5 !important
  height: 240px !important
  overflow: hidden
  p
    color: #f5f5f5
    padding: 15px
  a
    &:hover
      text-decoration: none !important
    
    
.front-call-bottom3
  display: none
  background: #f5f5f5 !important
  height: 240px !important
  overflow: hidden
  p
    color: #f5f5f5
    padding: 15px
    
.front-call
  background: #333333 !important
  height: 240px !important
  overflow: hidden
  img
    height: 100%
    width: 100%
    transition: 0.3s
    opacity: 0.8
    
.front-call2
  background: #333333 !important
  height: 240px !important
  overflow: hidden
  img
    height: 100%
    width: 100%
    transition: 0.3s
    opacity: 0.8
    
.nav li.last.leaf.active-trail
  margin-left: -14px    

.front-call3
  background: #333333 !important
  height: 240px !important
  overflow: hidden
  img
    height: 100%
    width: 100%
    transition: 0.3s
    opacity: 0.8
        
.front 
  .icon-chevron-right:before
    content: "\f054"
    
.next-five-bottom
  margin-top: 25px

.sixsix-percent
  width: 66%
  float: left
  .span12
    width: 100% !important
    
.fivefive-percent
  width: 49%
  float: left
  .span12
    width: 100% !important

.threethree-percent
  width: 32%
  float: right
  .quote-front
    background: #333
    color: white
  .span12
    width: 100% !important
    
.sixtwo-percent
  width: 62%
  float: left
  .span12
    width: 100% !important
    
.threesix-percent
  width: 36%
  float: right
  .span12
    width: 100% !important
    
.hundred-percent
  float: right
  width: 100%
  .span12
    width: 100% !important
    
#block-block-53
  float: right
    
#header_bottom_right
  .navbar .nav > li > .dropdown-menu:after
    display: none
  .navbar .nav > li > .dropdown-menu:before
    display: none    
  .navbar .nav li.dropdown > a:hover .caret     
    border-top-color: inherit
    border-bottom-color: inherit
  .navbar
    overflow: visible
    margin-bottom: 0px
    .nav > li > a
      float: none
      padding: 0px
      color: #adadad !important
      text-decoration: none !important
      text-shadow: none !important
      font-weight: 700
      font-size: 0.85714em
      text-transform: uppercase
    .nav li.dropdown.open > .dropdown-toggle 
      background: transparent !important 
      color: white !important    
    .dropdown-menu
      margin-top: 1px    
      margin-left: -10px
      border: none    
      background: #333333
      > li > a:hover
        background: #dc291e
    ul.dropdown-menu li a
      color: white
  .navbar-inner
    min-height: 10px !important
    padding-top: 8px
    padding-left: 5px
    padding-right: 0px
    background-color: transparent
    background-image: none
    background-repeat: repeat-x
    filter: none
    border: 0px
    -webkit-border-radius: none
    -moz-border-radius: none
    border-radius: none
    -webkit-box-shadow: none
    -moz-box-shadow: none
    box-shadow: none
    
.row-fluid .span12
  margin-left: 0px

.row
  .padding-normal
    padding-left: 30px
    padding-right: 30px
    padding-bottom: 30px
  
.block-top
  margin-top: 15px !important

.full-img
  width: 100%

.icon-chevron-down:before
  content: "\f078"
  color: #dc291e

.alt-button
  width: 100%
  background: #dc291e
  border: 0px
  font-size: 14px
  font-family: 'museo-500'
  color: white
  text-shadow: none
  font-weight: 300
  box-shadow: none
  &:hover
    background: red
    color: white


#block-quicktabs-news-events-quicktab
  padding: 0px
  background: #333
  color: white
  ul.quicktabs-tabs
    margin-left: 0px
  ul.quicktabs-tabs li
    font-size: 22px
    font-family: 'Museo-500'
    display: inline-block
    width: 49.75%
    background-color: #242424
    border: 0px
    margin: 0px
    padding: 30px 0px 30px 0px
    min-width: auto
    text-align: center
    border-radius: 0px
  ul.quicktabs-tabs li.active
    background-color: #333
  a#quicktabs-tab-news_events_quicktab-1
    color: #eee !important
  a#quicktabs-tab-news_events_quicktab-0
    color: #eee !important
  #quicktabs-tab-news_events_quicktab-1
    padding-bottom: 5px
  #quicktabs-tab-news_events_quicktab-0
    padding-bottom: 5px
  
.news-block
  letter-spacing: 0.5px
  padding-right: 20px
  padding-left: 20px
  padding-bottom: 10px
  padding-top: 10px
  color: #eee
  .icon-chevron-right
    padding-right: 5px
  .created
    font-size: 12px
    padding-left: 20px
    margin-bottom: -5px
    font-style: italic
  .body
    padding-left: 20px
  .news-content
  .news-title
    font-family: 'Museo-500'
    font-size: 16px
    margin-bottom: -10px
    a
      color: #eee !important
  .span12
    width: auto !important
  .img-wrapper
    width: 220px
    height: 120px
    overflow: hidden
    img
      min-width: 100%
    
.img-wrap 
  img
    margin-bottom: 5px
    
.events-block
  letter-spacing: 0.5px
  padding-right: 20px
  padding-left: 20px
  padding-bottom: 10px
  padding-top: 10px
  color: #eee
  .icon-chevron-right
    padding-right: 5px
  .created
    font-size: 12px
    padding-left: 20px
    margin-bottom: 5px
    font-style: italic
  .body
    padding-left: 20px
  .news-content
  .news-title
    font-family: 'Museo-500'
    font-size: 16px
    margin-bottom: -10px
    a
      color: #eee !important
  .span12
    width: auto !important
  .img-wrapper
    width: 220px
    height: 120px
    overflow: hidden
    img
      min-width: 100%
    
li.print_pdf
  display: none !important

.node-type-basic-page 
  .node-promoted 
    display: none

.statistics_counter
  display: none !important

.news-item
  background: #f2f2f2
  padding: 30px
  .field-type-text-with-summary
    border-bottom: 0px solid #DDD
    margin-bottom: 0px
    padding-bottom: 0px
  .row
    margin-left: 0px
  a
    color: #EE3224

.breadcrum
  margin: 10px 0 0 0
  background: #f2f2f2
  margin-bottom: -40px
  padding: 20px
  margin-top: 20px
  h1
    font-size: 24px
    line-height: 0px
    margin-top: 20px
    max-width: none
    margin-bottom: 0px
    
.event-info
  background-color: transparent
  padding: 0px
  border-top: 0px !important

.event-image-and-details
  border-top: 0px !important
  width: auto
  height: auto
  overflow: hidden

.templatedtitlestyle h1
  line-height: 0px
  margin-top: 0px
  margin-bottom: 40px

.rmit-event-image
  img
    border-radius: 0px
    box-shadow: none
  .row
    margin-left: 0px
    
.event-where
  h5
    font-size: 15px
    line-height: 12px
    margin-top: 10px
    margin-bottom: 5px
    font-family: "Museo-500"
    font-weight: 300
  .row
    margin-left: 0px
    
.event-when
  h5
    font-size: 15px
    line-height: 12px
    margin-top: 10px
    margin-bottom: 5px
    font-family: "Museo-500"
    font-weight: 300
  .row
    margin-left: 0px
    
.event-body
  padding-left: 15px
  .row
    margin-left: 0px
  
.rmit-title
  padding-left: 10px
  h1
    font-size: 21px
    margin-top: -10px
    margin-bottom: -5px
    font-family: "Museo-500"
    font-weight: 300
    
.rmit-news-content
  margin-top: 15px

.upcoming-main
  margin-bottom: 20px
  a:before
    font-family: FontAwesome
    font-size: 11px
    content: "\f054"
    margin-right: 5px
    display: inline-block
    &:hover
      text-decoration: none !important

.contentarticle
  margin-top: 10px
  margin-bottom: 10px
  letter-spacing: 0.5px

.events-cohort
  font-size: 13px
  color: grey

.dark-anchor
  color: #eee !important
  text-decoration: underline

.accordion-content a
  color: #333

.light-block
  a
    color: #333 !important
    
hr.dark-hr
  margin-top: 0px
  margin-bottom: 0px
  border-bottom: 1px solid #444!important

.front-feed 
  a
    color: #eee
    &:before
      font-family: FontAwesome
      font-size: 11px
      content: "\f054"
      margin-right: 5px
      display: inline-block
      &:hover
        text-decoration: none !important

.front .news-item
  display: none

#block-block-20
  height: 24px

#block-block-20 .btn 
  a.register-interest
    text-decoration: none
    color: white
    font-weight: 700
    border-bottom: 0px
    text-transform: uppercase
    font-weight: 700
    font-size: 0.85714em
    color: #adadad !important
    margin-right: 10px
    background: #EE3224
    color: #eee !important
    padding: 5px 7px 6px 7px
    &:hover
      background: red
    
form#register-your-interest-entityform-edit-form
  background: #f2f2f2
  padding: 20px
  
.page-eform-register-your-interest-confirm #main-content
  background: #f2f2f2
  margin-top: 20px
  margin-bottom: 10px
  padding: 20px 20px 0px 20px


a.inline-link
  color: #ee3224 !important

#block-block-47
  .btn a
    color: white
    
#block-block-44
  .btn a
    color: white
    
.node-type-news-update 
  #main-content
    margin-top: 20px
    
.news-body
  margin-top: 10px

.contentarticle img
  margin: 0 0 20px 0
  -webkit-border-radius: none !important
  -moz-border-radius: 0px !important
  border-radius: 0px !important
  -webkit-box-shadow: 0px !important
  -moz-box-shadow: 0px !important
  box-shadow: none

.logo-secondary
  max-height: 48px !important
  margin-top: 0px !important
  padding-left: 12px !important


.front-main-padding
  padding: 0px
  background: #333
  color: #eee
  padding-left: 50px
  padding-right: 50px
  padding-top: 30px
  padding-bottom: 50px

.the-story-info-blocks-title
  padding-left: 20px
  padding-right: 20px
  width: 25% !important
  height: 404px
  background: #f2f2f2
  color: #333

.the-story-info-blocks
  width: 25% !important
  margin-left: 0px !important

.five-years-loomio
  min-height: 677px

.backstory-loomio
  min-height: 689px

//.front-feed-block
    min-height: 538px

.front-feed a
  font-family: "Helvetica", Helvetica, Arial, sans-serif
  font-weight: 400
  font-size: 14px
  letter-spacing: 0.5px

.upcoming-main
  font-family: "Helvetica", Helvetica, Arial, sans-serif
  font-weight: 400
  font-size: 14px
  letter-spacing: 0.5px

.node-event-form
  background: #f2f2f2
  padding: 20px
  margin-top: 20px

.node-news_update-form 
  background: #f2f2f2
  padding: 20px
  margin-top: 20px

.quote-front:hover
  border-top: 2px solid red
  margin-top: 13px

.page-search 
  #main-content
    background: #f2f2f2
    margin-top: 30px
    margin-bottom: 20px
  #content
    width: 960px
  #content-upper 
    .content
      padding: 20px
  li.search-result h3.title
    a
      color: #333
    &:hover
      text-decoration: underline
    &:before
      content: "\f054"
      font-family: FontAwesome
      font-size: 14px
      margin-right: 7px
      color: #EE3224
      display: inline-block
  .search-results 
    padding-bottom: 10px
    li
      border-bottom: 0px
    .search-info
      display: none
  fieldset#edit-advanced
    display: none

#tab-container .tab_logo.tab a
  background-image: url('/sites/default/themes/flip_theme/img/shape-rmit-logo.png')
  display: block
  background-size: 99px 49px
  width: 135px
  height: 50px
  background-size: contain
  background-repeat: no-repeat