// NAVIGATION - import where needed

.menu_primary
  font-size: 14px
  margin-right: -14px

.menu_primary ul
  width: auto
  float: right

.menu_primary ul.menu li a.active
  color: #333
  text-decoration: none
  background-color: #dcddd7
  border-bottom: 0px
  &:hover
    color: #333
    
.menu_primary ul.menu li a
  display: inline
  margin: 0
  float: left
  padding: 8px 16px 8px 16px
  border-bottom: 0px
  text-transform: uppercase
  font-weight: 700
  font-size: .857142em
  color: #adadad

#block-search-form .search-query
  height: 15px
  width: 80px
  color: #6a6767
  top: 12px
  padding: 5px 35px 5px 5px
  font-size: 1.286em
  border: 1px solid #d1d1d1
  background-color: #ededed !important
  color: #666
  border-radius: 0px
  font-family: 'Museo-500'
  box-shadow: none
  font-size: 14px

#header
  background: #333333
  border-bottom: 0px solid #F2F2F2
  margin-top: 0px
  margin-bottom: 0px

#header_top
  margin: 0px
  padding-bottom: 0px
  margin-bottom: 27px

#header_bottom_right
  padding-top: 0px
  margin-top: -3px
  .account-menu 
    float: left
    display: inline-block
    zoom: 1


#header_bottom
  margin-top: 0px
    
ul.menu a:hover
  background-color: transparent
  color: white !important
  text-decoration: underline
    
.nav > li > a:focus
  text-decoration: none
  background-color: transparent
    
.page-sub
  background: #1F1F1F
  color: white
  border-bottom: 0px

.RMIT-btn
  background: red
  box-shadow: 0px !important
  border-radius: 0px

.big-padding
  margin-top: 5px
  background: white
  .title
    padding-top: 20px
    padding-bottom: 10px
  .span4.reveal
    margin-left: 0px
    width: 33%
    transition: 0.1s
  .span4.reveal
    &:hover
      background: #ddd
      transition: 0.1s
  .row
    margin-left: 0px
  h2
    padding-top: 25px
    padding-bottom: 10px
    margin-top: 0px
  a
//    color: #333 !important
    
#block-block-46
  margin-top: 25px
    
.para
  padding-left: 30px
  padding-right: 30px 

.para.stack
  padding-left: 0px
  padding-right: 0px 
  .row
    margin-right: 0px
  .row.no-padding
    padding: 0px !important
  &:hover
    border-top: 2px solid red
    margin-top: -2px
    
.row.row-alt
  background: #f5f5f5

.quote-front
  background: #f2f2f2
  margin-top: 15px
  padding: 0px 0px 0px 40px
  .home-offset-height
    max-height: 530px
    overflow: hidden
    
.container-fluid
  padding-right: 0px
  padding-left: 0px

.main 
  margin-bottom: 0px !important
  .block
    margin-bottom: 0px

.container
  width: 960px

#header_bottom_right #user_details .btn.dropdown-toggle
  padding: 4px 6px
  background: transparent
  color: #adadad
  text-shadow: none
  box-shadow: none
  border: 0px
  font-size: 13px
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  font-weight: 600

.nav-span
  margin-bottom: -3px

.site-footer
  margin-top: 0px
  margin-bottom: 10px

#block-block-15 
  .row-fluid
    border-top: 0px
    margin-left: 10px        
#search-box
  padding-top: 15px
  padding-right: 5px

.header .site-logo img
  max-height: 63px
  margin-top: 20px

#header_bottom_right #user_details .navigation-profile-picture
  display: inline-block
  zoom: 1
  width: 30px
  padding-top: 0px

#header_bottom_right #user_details .navigation-profile-picture img
  width: 30px
  height: 30px
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  -webkit-border-radius: 30em
  -moz-border-radius: 30em
  border-radius: 0px
  border: 0px


// hide page title & admin menu //

.icon-chevron-right
  color: #DC291E

#page-title
  line-height: 1
  text-align: left
  display: none
    
#content-head
  .tabs
    display: none
        
.front-call
  background: #333333 !important
  height: 240px !important
  overflow: hidden
  img
    height: 100%
    width: 100%
    transition: 0.3s
    opacity: 0.8
  
.front-call-content
  color: #333333
  display: inline-flex
  font-family: Arial, Helvetica, sans-serif
  font-size: 13px
  font-weight: 700
  line-height: 1.167em
  margin: 0
  margin-left: 7px
  text-transform: uppercase
  padding: 15px
        
.front-call-bottom
  display: none
  background: #f5f5f5 !important
  height: 240px !important
  overflow: hidden
  p
    color: #f5f5f5
    padding: 15px

.front-call-bottom2
  display: none
  background: #f5f5f5 !important
  height: 240px !important
  overflow: hidden
  p
    color: #f5f5f5
    padding: 15px
  a
    &:hover
      text-decoration: none !important
    
    
.front-call-bottom3
  display: none
  background: #f5f5f5 !important
  height: 240px !important
  overflow: hidden
  p
    color: #f5f5f5
    padding: 15px
    
.front-call
  background: #333333 !important
  height: 240px !important
  overflow: hidden
  img
    height: 100%
    width: 100%
    transition: 0.3s
    opacity: 0.8
    
.front-call2
  background: #333333 !important
  height: 240px !important
  overflow: hidden
  img
    height: 100%
    width: 100%
    transition: 0.3s
    opacity: 0.8
    
.nav li.last.leaf.active-trail
  margin-left: -14px    

.front-call3
  background: #333333 !important
  height: 240px !important
  overflow: hidden
  img
    height: 100%
    width: 100%
    transition: 0.3s
    opacity: 0.8
        
.front 
  .icon-chevron-right:before
    content: "\f054"
    
.next-five-bottom
  margin-top: 25px

.sixsix-percent
  width: 66%
  float: left
  .span12
    width: 100% !important
    
.fivefive-percent
  width: 49%
  float: left
  .span12
    width: 100% !important

.threethree-percent
  width: 32%
  float: right
  .quote-front
    background: #333
    color: white
  .span12
    width: 100% !important
    
.sixtwo-percent
  width: 62%
  float: left
  .span12
    width: 100% !important
    
.sixfour-percent
  width: 64%
  float: left
  .span12
    width: 100% !important    
    
.threesix-percent
  width: 36%
  float: right
  .span12
    width: 100% !important
    
.hundred-percent
  float: right
  width: 100%
  .span12
    width: 100% !important
    
#block-block-53
  float: right
    
#header_bottom_right
  .navbar .nav > li > .dropdown-menu:after
    display: none
  .navbar .nav > li > .dropdown-menu:before
    display: none    
  .navbar .nav li.dropdown > a:hover .caret     
    border-top-color: inherit
    border-bottom-color: inherit
  .navbar
    overflow: visible
    margin-bottom: 0px
    .nav > li > a
      float: none
      padding: 0px
      color: #adadad !important
      text-decoration: none !important
      text-shadow: none !important
      font-weight: 700
      font-size: 0.85714em
      text-transform: uppercase
    .nav li.dropdown.open > .dropdown-toggle 
      background: transparent !important  
    .dropdown-menu
      margin-top: 1px    
      margin-left: -10px
      border: none    
      background: #333333
      > li > a:hover
        background: #dc291e
    ul.dropdown-menu li a
      color: white
  .navbar-inner
    min-height: 10px !important
    padding-top: 8px
    padding-left: 5px
    padding-right: 0px
    background-color: transparent
    background-image: none
    background-repeat: repeat-x
    filter: none
    border: 0px
    -webkit-border-radius: none
    -moz-border-radius: none
    border-radius: none
    -webkit-box-shadow: none
    -moz-box-shadow: none
    box-shadow: none
    
.row-fluid .span12
  margin-left: 0px

.row
  .padding-normal
    padding-left: 30px
    padding-right: 30px
    padding-bottom: 30px
  
.block-top
  margin-top: 15px !important

.full-img
  width: 100%

.icon-chevron-down:before
  content: "\f078"
  color: #dc291e

.alt-button
  width: 100%
  background: #dc291e
  border: 0px
  font-size: 14px
  font-family: 'museo-500'
  color: white
  text-shadow: none
  font-weight: 300
  box-shadow: none
  &:hover
    background: red
    color: white


#block-quicktabs-news-events-quicktab
  padding: 0px !important
  background: #333 !important
  color: white !important
  ul.quicktabs-tabs
    margin-left: 0px !important
  ul.quicktabs-tabs li
    font-size: 22px !important
    font-family: 'Museo-500'!important
    display: inline-block !important
    width: 49.75% !important
    background-color: #242424 !important
    border: 0px !important
    margin: 0px !important
    padding: 30px 0px 30px 0px !important
    min-width: auto !important
    text-align: center !important
    border-radius: 0px !important
  ul.quicktabs-tabs li.active
    background-color: #333 !important
  a#quicktabs-tab-news_events_quicktab-1
    color: #eee !important
  a#quicktabs-tab-news_events_quicktab-0
    color: #eee !important
  #quicktabs-tab-news_events_quicktab-1
    padding-bottom: 5px !important
  #quicktabs-tab-news_events_quicktab-0
    padding-bottom: 5px !important
  
.news-block
  letter-spacing: 0.5px
  padding-right: 20px
  padding-left: 20px
  padding-bottom: 10px
  padding-top: 10px
  color: #eee
  .icon-chevron-right
    padding-right: 5px
  .created
    font-size: 12px
    padding-left: 20px
    margin-bottom: -5px
    font-style: italic
  .body
    padding-left: 20px
  .news-content
  .news-title
    font-family: 'Museo-500'
    font-size: 16px
    margin-bottom: -10px
    a
      color: #eee !important
  .span12
    width: auto !important
  .img-wrapper
    width: 220px
    height: 120px
    overflow: hidden
    img
      min-width: 100%
    
.img-wrap 
  img
    margin-bottom: 5px
    
.events-block
  letter-spacing: 0.5px
  padding-right: 20px
  padding-left: 20px
  padding-bottom: 10px
  padding-top: 10px
  color: #eee
  .icon-chevron-right
    padding-right: 5px
  .created
    font-size: 12px
    padding-left: 20px
    margin-bottom: 5px
    font-style: italic
  .body
    padding-left: 20px
  .news-content
  .news-title
    font-family: 'Museo-500'
    font-size: 16px
    margin-bottom: -10px
    a
      color: #eee !important
  .span12
    width: auto !important
  .img-wrapper
    width: 220px
    height: 120px
    overflow: hidden
    img
      min-width: 100%
    
li.print_pdf
  display: none !important

.node-type-basic-page 
  .node-promoted 
    display: none

.statistics_counter
  display: none !important

.news-item
  background: #f2f2f2
  padding: 30px
  .field-type-text-with-summary
    border-bottom: 0px solid #DDD
    margin-bottom: 0px
    padding-bottom: 0px
  .row
    margin-left: 0px
  a
    color: #EE3224

.breadcrum
  margin: 10px 0 0 0
  background: #f2f2f2
  margin-bottom: -40px
  padding: 20px
  margin-top: 20px
  h1
    font-size: 24px
    line-height: 0px
    margin-top: 20px
    max-width: none
    margin-bottom: 0px
    
.event-info
  background-color: transparent
  padding: 0px
  border-top: 0px !important

.event-image-and-details
  border-top: 0px !important
  width: auto
  height: auto
  overflow: hidden

.templatedtitlestyle h1
  line-height: 0px
  margin-top: 0px
  margin-bottom: 40px

.rmit-event-image
  img
    border-radius: 0px
    box-shadow: none
  .row
    margin-left: 0px
    
.event-where
  h5
    font-size: 15px
    line-height: 12px
    margin-top: 10px
    margin-bottom: 5px
    font-family: "Museo-500"
    font-weight: 300
  .row
    margin-left: 0px
    
.event-when
  h5
    font-size: 15px
    line-height: 12px
    margin-top: 10px
    margin-bottom: 5px
    font-family: "Museo-500"
    font-weight: 300
  .row
    margin-left: 0px
    
.event-body
  padding-left: 15px
  .row
    margin-left: 0px
  
.rmit-title
  padding-left: 10px
  h1
    font-size: 21px
    margin-top: -10px
    margin-bottom: -5px
    font-family: "Museo-500"
    font-weight: 300
    
.rmit-news-content
  margin-top: 15px

.upcoming-main
  margin-bottom: 20px
  a:before
    font-family: FontAwesome
    font-size: 11px
    content: "\f054"
    margin-right: 5px
    display: inline-block
    &:hover
      text-decoration: none !important

.contentarticle
  margin-top: 10px
  margin-bottom: 10px
  letter-spacing: 0.5px

.events-cohort
  font-size: 13px
  color: grey

.dark-anchor
  color: #eee !important
  text-decoration: underline

.accordion-content a
  color: #333

.light-block
  a
    color: #333 !important
    
hr.dark-hr
  margin-top: 0px
  margin-bottom: 0px
  border-bottom: 1px solid #444!important

.front-feed 
  a
    color: #eee
    &:before
      font-family: FontAwesome
      font-size: 11px
      content: "\f054"
      margin-right: 5px
      display: inline-block
      &:hover
        text-decoration: none !important

.front .news-item
  display: none

#block-block-20
  height: 24px

#block-block-20 .btn 
  a.register-interest
    text-decoration: none
    color: white
    font-weight: 700
    border-bottom: 0px
    text-transform: uppercase
    font-weight: 700
    font-size: 0.85714em
    color: #adadad !important
    margin-right: 10px
    background: #EE3224
    color: #eee !important
    padding: 5px 7px 6px 7px
    &:hover
      background: red
    
form#register-your-interest-entityform-edit-form
  background: #f2f2f2
  padding: 20px
  
.page-eform-register-your-interest-confirm #main-content
  background: #f2f2f2
  margin-top: 20px
  margin-bottom: 10px
  padding: 20px 20px 0px 20px


a.inline-link
  color: #ee3224 !important

#block-block-47
  .btn a
    color: white
    
#block-block-44
  .btn a
    color: white
    
.node-type-news-update 
  #main-content
    margin-top: 20px
    
.news-body
  margin-top: 10px

.contentarticle img
  margin: 0 0 20px 0
  -webkit-border-radius: none !important
  -moz-border-radius: 0px !important
  border-radius: 0px !important
  -webkit-box-shadow: 0px !important
  -moz-box-shadow: 0px !important
  box-shadow: none

.logo-secondary
  max-height: 80px !important
  margin-top: 10px !important
  padding-left: 12px !important
  overflow: visible
  margin-bottom: -15px


.front-main-padding
  padding: 0px
  background: #333
  color: #eee
  padding-left: 50px
  padding-right: 50px
  padding-top: 30px
  padding-bottom: 50px

.the-story-info-blocks-title
  padding-left: 20px
  padding-right: 20px
  width: 25% !important
  height: 404px
  background: #f2f2f2
  color: #333

.the-story-info-blocks
  width: 25% !important
  margin-left: 0px !important

.five-years-loomio
  min-height: 677px

.backstory-loomio
  min-height: 682px

//.front-feed-block
    min-height: 538px

.front-feed a
  font-family: "Helvetica", Helvetica, Arial, sans-serif
  font-weight: 400
  font-size: 14px
  letter-spacing: 0.5px

.upcoming-main
  font-family: "Helvetica", Helvetica, Arial, sans-serif
  font-weight: 400
  font-size: 14px
  letter-spacing: 0.5px

.node-event-form
  background: #f2f2f2
  padding: 20px
  margin-top: 20px

.node-news_update-form 
  background: #f2f2f2
  padding: 20px
  margin-top: 20px

.quote-front:hover
  border-top: 2px solid red
  margin-top: 13px

.page-search 
  #main-content
    background: #f2f2f2
    margin-top: 30px
    margin-bottom: 20px
  #content
    width: 960px
  #content-upper 
    .content
      padding: 20px
  li.search-result h3.title
    a
      color: #333
    &:hover
      text-decoration: underline
    &:before
      content: "\f054"
      font-family: FontAwesome
      font-size: 14px
      margin-right: 7px
      color: #EE3224
      display: inline-block
  .search-results 
    padding-bottom: 10px
    li
      border-bottom: 0px
    .search-info
      display: none
  fieldset#edit-advanced
    display: none

#tab-container .tab_logo.tab a
  background-image: url('/sites/default/themes/flip_theme/img/shapermit-hashtag-logo.png')
  display: block
  background-size: 99px 49px
  width: 135px
  height: 40px
  background-size: contain
  background-repeat: no-repeat
  margin-top: -5px

#footer .container
  width: 980px

.group-title .home-title a:before
  content: "\f054"
  font-family: fontawesome
  font-size: 15px
  margin-right: 10px
  display: inline-block


.node-type-book #content-head .tabs
  display: block

.node-type-book #main-content
  margin-top: 20px
  background-color: white
  padding: 0px 50px 20px 0px
  overflow: hidden
  margin-left: 0px
  margin-bottom: 20px
  min-height: 650px

.node-type-book .mc-content.span9
  width: 67%
  float: right
  position: relative

.node-type-book ul.menu a:hover 
  background-color: transparent
  color: inherit
  text-decoration: underline

/*.node-type-book ul.links.inline
  display: none */

input.form-submit.form-btn-success
  color: #ffffff
  text-shadow: none
  background-color: #5bb75b
  background-image: none
  background-repeat: no-repeat
  border-color: transparent
  filter: none
  border-radius: 0px
  float: right

.node-type-book input#edit-preview
  display: none

.node-type-book .form-item.form-type-checkbox.form-item-notify
  display: none

.node-type-book #comment-form
  position: relative
  padding: 15px 0px 15px 0px
  background-color: transparent
  margin-left: 0px
  margin-top: -10px

.node-type-book #comment-form:after
  display: none

.node-type-book h2.title.comment-form
  margin-top: -40px
  margin-bottom: -20px

.node-type-book .comment-wrapper
  background-color: #fff
  padding: 0px

.node-type-book #comments h2
  padding: 0px

.node-type-book .nav-tabs
  padding-bottom: 5px
  margin-top: 50px
  border: 0px
  margin-bottom: -10px

.node-type-book .node-book
  padding-right: 10px

.node-type-book .nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus
  color: #555555
  background-color: transparent
  border: 0px
  border-bottom-color: transparent
  cursor: default

.node-type-book .form-textarea-wrapper textarea
  display: block
  margin: 0
  border-radius: 0px
  box-shadow: none
  width: 100%
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box
  min-height: 200px

.node-type-book .form-item label
  font-weight: normal
  display: none

.node-book .contentarticle
  border: 0px !important
  padding: 10px 30px 0px 0px !important

.node-type-book #comments
  padding-right: 0px

.node-type-book .nav-tabs > li > a
  padding-top: 8px
  padding-bottom: 8px
  line-height: 20px
  border: 0px
  -webkit-border-radius: 4px 4px 0 0
  -moz-border-radius: 4px 4px 0 0
  border-radius: 0px
  background-color: transparent
  color: inherit

.node-type-book .nav-tabs > .active > a
  color: #eee
  background-color: #EE3224
  border: 0px
  border-bottom-color: transparent
  cursor: default

.node-type-book ul.nav.nav-tabs a:hover
  text-decoration: underline
  background-color: transparent

#block-book-explorer-book-explorer a
  color: inherit

.book-navigation .page-links a
  color: #333

#sidebar-first
  background-color: #fff
  outline: 1px solid #EAEAEA
  float: right
  padding-top: 20px

#block-book-explorer-book-explorer a:hover
  color: #333 !important

.node-type-book ul.nav.nav-tabs .active a:hover
  text-decoration: none
  background-color: #EE3224
  padding-top: 8px

.node-type-book .node-book-form input#edit-title
  background-color: #ffffff
  border: 1px solid #cccccc
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
  box-shadow: none
  -webkit-transition: none
  -moz-transition: none
  -o-transition: none
  transition: none
  border-radius: 0px

#cke_edit-body-und-0-value
  box-shadow: none

input.form-submit.form-btn-danger
  color: #ffffff
  text-shadow: none
  background-color: #da4f49
  background-image: none
  background-repeat: no-repeat
  border-color: none
  filter: none
  border-radius: 0px
  border: 0px

#edit-preview-changes
  display: none

.cke_top
  border-bottom: 1px solid #b6b6b6
  padding: 6px 8px 2px
  white-space: normal
  -moz-box-shadow: none
  -webkit-box-shadow: none
  box-shadow: 0 1px 0 #fff inset
  background: #eee
  background-image: red
  background-image: transparent
  filter: none

.cke_bottom
  padding: 6px 8px 2px
  position: relative
  border-top: 1px solid #bfbfbf
  -moz-box-shadow: none
  -webkit-box-shadow: none
  box-shadow: none
  background: #eee
  background-image: none
  filter: none

.node-type-book #cke_1_contents
  min-height: 400px

textarea#edit-comment-body-und-0-value:focus
  border: 1px solid #aaa

.node-type-book .resizable-textarea .grippie
  display: none

.cke_editable p
  padding: 10px

.cke_editable
  cursor: text
  background-color: #eee
  background-color: white
  background-image: none

.node-type-book li.flag-follow_wiki.last
  display: none

.node-type-book li.book_pdf
  display: none

.node-type-book li.comment-add.active
  display: none

li.book_add_child.first:before
  content: "\f016"
  display: inline-block
  margin-right: 5px
  font-family: fontawesome

li.book_add_child.first a
  color: inherit

.page-node-add-book #main-content #content
  background-color: white
  margin-top: 10px
  #content-wrapper
    padding: 30px 40px 30px 40px
    max-width: 960px
    
.page-comment-reply #main-content #content
  background-color: white
  margin-top: 10px
  #content-wrapper
    padding: 30px 40px 30px 40px
    max-width: 960px

#sidebar-first .block-book-helper
  display: none

.node-type-book .field.field-name-body.field-type-text-with-summary.field-label-hidden 
  margin-bottom: 0px
  padding-bottom: 5px

.node-book .contentartcile-inner img
  height: auto !important

/*blockquote
  border-left: 3px solid #EE3224
  padding: 0px 0px 0px 10px

/* blockquote p
  margin-bottom: 0
  font-size: inherit !important
  font-weight: 400 !important

blockquote
  background: none
  border-left: 5px solid #ddd
  margin: 1.5em 0px
  padding: 0.5em 10px
  quotes: "\201C" "\201D" "\2018" "\2019"

blockquote:before
  color: #cccccc
  content: open-quote
  font-size: 50px
  line-height: 0.1em
  margin-right: 5px
  vertical-align: -0.46em

blockquote p 
  display: inline
  margin-bottom: 0
  font-size: inherit
  font-style: italic
  font-weight: 400

blockquote > p:first-child
  padding-left: 0px
  text-indent: 0px
  line-height: inherit

// HIDE BOOK SIDEBAR ON BOOK SUB PAGES //

.page-node-order .block-book-explorer
  display: none

.page-node-track .block-book-explorer
  display: none

.page-node-convert .block-book-explorer
  display: none

.page-node-revisions .block-book-explorer
  display: none

body.html.not-front.logged-in.one-sidebar.sidebar-first.page-node.page-node-.page-node-631.page-node-edit.node-type-book.admin-menu #block-book-explorer-book-explorer
  display: none

// END HIDE //


#book-helper-admin-edit #edit-save
  margin-top: 20px
  margin-left: 0px
  border-radius: 0px
  background-image: none
  background-color: #5bb75b
  text-shadow: none
  color: white
  border: none
  &:hover
    background-color: #51a351

.page-node-order
  .checkbox
    min-height: 20px
    padding-left: 30px
  tr .form-item
    margin-top: 0
    margin-bottom: 0
    display: flex
  td
    vertical-align: middle
    padding-bottom: 0px
    
a.book-explorer-toggle.book-explorer-collapsed
  text-decoration: none !important

a.book-explorer-toggle.book-explorer-expanded
  text-decoration: none !important

.page-node-log #main-content #content
  background-color: white
  margin-top: 10px
  #content-wrapper
    padding: 30px 40px 30px 40px
    max-width: 960px
    
.page-comment-edit #main-content #content
  background-color: white
  margin-top: 10px
  #content-wrapper
    padding: 30px 40px 30px 40px
    max-width: 960px   
    
.page-comment-delete #main-content #content
  background-color: white
  margin-top: 10px
  #content-wrapper
    padding: 30px 40px 30px 40px
    max-width: 960px      
    
.page-comment-delete a#edit-cancel
  color: inherit

.page-comment-delete a#edit-cancel:before
  content: "\f00d"
  font-family: fontawesome
  display: inline-block
  margin-right: 5px
    
.page-comment-edit fieldset#edit-author
  display: none

.page-comment-edit .form-item.form-type-checkbox.form-item-notify
  display: none

.page-comment-edit input#edit-preview
  display: none
    
a.book-title
  font-size: 18px

.node-type-book li.comment_forbidden.first.last
  display: none

.book-explorer a.active
  font-weight: 600

.ui-login-forms .ui-footer
  padding-top: 40px
  padding-bottom: 40px
  background: none !important

h2.title.comment-form
  margin-top: 60px !important

#comments h2.title
  margin-bottom: 0px

#comments .user-picture img
  border-radius: 0px

#comments .submitted
  padding-right: 20px !important

#comments .comment
  padding: 12px 12px 12px 0px

#comments .comment .submitted span a
  text-align: center

#comments a
  color: inherit

.page-comment-reply .comment_profile .permalink
  display: none

.page-comment-reply .comment_profile .submitted
  display: none

.page-comment-reply .form-item.form-type-checkbox.form-item-notify
  display: none

.page-comment-reply input#edit-preview
  display: none

.page-comment-reply .user-picture img
  width: 100px
  margin-left: 50px

.page-comment-reply textarea#edit-comment-body-und-0-value
  border-radius: 0px
  box-shadow: none

.page-comment-reply .comment_bubble a
  color: #333 !important

a.generic-anchor:hover
  text-decoration: underline
  color: inherit

iframe
  border: none !important

#block-block-40 iframe
  width: 100%

#block-block-47 ul
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  font-weight: 400
  letter-spacing: 0.5px
  color: #333


a.call-to-action-anchor
  width: 89%
  background: #dc291e
  border: 0px
  font-size: 14px
  display: inline-block
  padding: 4px 12px
  margin-bottom: 0
  font-size: 14px
  line-height: 20px
  text-align: center
  vertical-align: middle
  cursor: pointer
  text-decoration: none
  color: white
  font-family: 'Museo-500'
  border-radius: 4px
  &:hover
    text-decoration: none
    background-color: red

.centre-image-please
  display: block
  margin-left: auto
  margin-right: auto



// THIS IS NEW CONTENT //


#block-block-41
  .img-wrap
    padding-bottom: 33px
  .wrapper
    position: relative
    height: 370px !important 
  .wrapper p
    padding-left: 15px
    padding-right: 15px
    min-height: 95px
  .description
    position: absolute
    bottombottom: 0px
    left: 0px
    display: none
    background-color: black
    font-family: 'tahoma'
    font-size: 15px
    color: white
    top: 0
  .description_content
    padding: 20px
    font-size: 12px
    font-weight: 700
  .span3.hover:hover
    background: #1F1F1F 

#block-block-68
  .img-wrap
    padding-bottom: 33px
  .wrapper
    position: relative
    height: 320px !important 
  .wrapper p
    padding-left: 15px
    padding-right: 15px
    min-height: 45px
    margin-bottom: -5px
  .description
    position: absolute
    bottombottom: 0px
    left: 0px
    display: none
    background-color: black
    font-family: 'tahoma'
    font-size: 15px
    color: white
    top: 0
  .description_content
    padding: 20px
    font-size: 12px
    font-weight: 700
  .span3.hover:hover
    background: #1F1F1F
  .span3.the-story-info-blocks-title
    height: 353px
    background-color: white
    
    
#block-block-70
  .img-wrap
    padding-bottom: 33px
  .wrapper
    position: relative
    height: 320px !important 
  .wrapper p
    padding-left: 15px
    padding-right: 15px
    min-height: 45px
    margin-bottom: -5px
  .description
    position: absolute
    bottombottom: 0px
    left: 0px
    display: none
    background-color: black
    font-family: 'tahoma'
    font-size: 15px
    color: white
    top: 0
  .description_content
    padding: 20px
    font-size: 12px
    font-weight: 700
  .span3.hover:hover
    background: #1F1F1F
  .span3.the-story-info-blocks-title
    height: 355px
    background-color: white
    
#block-block-71
  .img-wrap
    padding-bottom: 33px
  .wrapper
    position: relative
    height: 320px !important 
  .wrapper p
    padding-left: 15px
    padding-right: 15px
    min-height: 45px
    margin-bottom: -5px
  .description
    position: absolute
    bottombottom: 0px
    left: 0px
    display: none
    background-color: black
    font-family: 'tahoma'
    font-size: 15px
    color: white
    top: 0
  .description_content
    padding: 20px
    font-size: 12px
    font-weight: 700
  .span3.hover:hover
    background: #1F1F1F
  .span3.the-story-info-blocks-title
    height: 355px
    background-color: white
    
#block-block-72
  .img-wrap
    padding-bottom: 33px
  .wrapper
    position: relative
    height: 320px !important 
  .wrapper p
    padding-left: 15px
    padding-right: 15px
    min-height: 45px
    margin-bottom: -5px
  .description
    position: absolute
    bottombottom: 0px
    left: 0px
    display: none
    background-color: black
    font-family: 'tahoma'
    font-size: 15px
    color: white
    top: 0
  .description_content
    padding: 20px
    font-size: 12px
    font-weight: 700
  .span3.hover:hover
    background: #1F1F1F
  .span3.the-story-info-blocks-title
    height: 355px
    background-color: white
    
#block-block-44
  .img-wrap
    padding-bottom: 33px
  .wrapper
    position:relative
  .description
    position: absolute
    bottombottom: 0px
    left: 0px
    display: none
    background-color: black
    font-family: 'tahoma'
    font-size: 15px
    color: #eee 
    top: 0
  .description_content
    padding: 20px
    font-size: 12px
    font-weight: 700
  .span6.hover:hover
    background: #1F1F1F  
    
#block-block-49 
  table
    min-width: 100%
    margin-left: 25px
    margin-bottom: 20px
    padding-right: 25px
    margin-right: -25px
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
    font-weight: 400
    letter-spacing: 0.5px
    color: #333
  td
    border: 0px
  tbody
    border-top: 0px
  .table-padding-right
    padding-right: 60px

    
 
#block-block-50
  .accordion-toggle
    cursor: pointer
    background: #f5f5f5
  .accordion-toggle:hover
    background: #ddd  
  .accordion-content
    display: none
    background: #CCCCCC
    height: 200px
    overflow: hidden
  .accordion .row
    margin-left: 0px
  .accordion-content.default 
    display: block  
  .accordion-img
    width: 220px
    padding: 20px
    margin-top: -10px
  .icon-circle:before
    content: "\f111"
    font-size: 8px
    padding-bottom: 0px
    margin-left: 7px
  .accordion-content .span7
    padding-left: 10px
    padding-top: 5px
    padding-right: 15px
    
    
.hide-mobile-menu-titles
  p
    display: none
    
// END OF NEW CONTENT //

.front .general-responsive-padding h3
  margin-top: 2px

.five-years-loomio h2 
  margin-top: 24px
  margin-bottom: 12px
  font-family: "Museo-500"
  font-size: 1.2em !important
  padding: 0
  font-weight: 300
  letter-spacing: 0.5px  

.backstory-loomio h2
  margin-top: 24px
  margin-bottom: 12px
  font-family: "Museo-500"
  font-size: 1.2em !important
  padding: 0
  font-weight: 300
  letter-spacing: 0.5px 

#block-block-50 .padding-normal h2
  margin-top: 24px
  margin-bottom: 12px
  font-family: "Museo-500"
  font-size: 1.2em !important
  padding: 0
  font-weight: 300
  letter-spacing: 0.5px 


iframe
  border: none !important
  width: 100%
  height: 350px

#block-block-40 iframe
  border: none !important
  width: 100%
  height: 350px
  margin-top: 40px

h2#catalysts
  padding-left: 30px

.front-video-block
  margin-top: -40px

.tab_logo.tab.start-of-mobile-anchor a
  color: transparent

.accordion-toggle h3
  margin-top: inherit
  margin-bottom: inherit
  font-family: inherit
  font-size: inherit
  font-weight: inherit
  letter-spacing: inherit

.accordion-content h4
  font-family: "Museo-500"
  font-size: 14px
  font-weight: 300
  letter-spacing: 0.5px

.how-many-discussions
  font-size: 15px
  margin-top: 10px
  margin-bottom: 10px
  margin-left: 5px

.group-title-span 
  min-height: 50px !important

.page-node-645 
  .block-top
    margin-top: 30px !important
  .generic-anchor
    font-size: 12px

#block-block-69 .generic-anchor
  font-size: 13px

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400)

#block-block-74
  .sexytabs
    > ul
      text-align: center
      font-weight: 500
      margin: 0px 0 0
      padding: 0
      position: relative
      z-index: 1
      > li
        display: inline-block
        background: #111 !important
        height: 120px
        padding: 0px
        position: relative
        width: 50%
        margin: 0px
        border: none
        border-radius: 0px
        margin-right: -3px
        margin-left: -3px
        &:before, &:after
          opacity: 0
          transition: 0.3s ease
        &.ui-tabs-active
          &:before, &:after
            opacity: 1
        &.ui-state-hover
          &:before, &:after
            opacity: 1
        &.ui-state-focus
          &:before, &:after
            opacity: 1
        &:before
          content: ""
          position: absolute
          z-index: -1
          top: 50%
          bottom: 0px
          left: 5px
          right: 5px
          border-radius: 100px / 10px
        &.ui-state-active
          &.ui-state-hover:before, &.ui-state-focus:before
            content: ""
            position: absolute
            z-index: -1
            top: 50%
            bottom: 0px
            left: 5px
            right: 5px
            border-radius: 100px / 10px
        &:after
          content: ""
          background: #fafafa
          position: absolute
          width: 12px
          height: 12px
          left: 50%
          bottom: -6px
          margin-left: -6px
          transform: rotate(45deg)
        &.ui-state-active
          &.ui-state-hover:after, &.ui-state-focus:after
            content: ""
            background: #fafafa
            position: absolute
            width: 12px
            height: 12px
            left: 50%
            bottom: -6px
            margin-left: -6px
            transform: rotate(45deg)
        &.ui-state-hover:before, &.ui-state-focus:before
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2)
        &.ui-state-hover:after
        &.ui-state-focus
          &:after
            box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.2), inset 1px 1px 1px rgba(0, 0, 0, 0.3)
          a
            text-decoration: underline
        &:focus
          outline: none
        a
          color: #444
          text-decoration: none
          &:focus
            outline: none
          span
            position: relative
            top: -0.5em
    &.dark > ul
      > li
        background: #333
        &:before
        &.ui-state-active
          &.ui-state-hover:before, &.ui-state-focus:before
        &:after
          background: #333
          display: none
        &.ui-state-active
          &.ui-state-hover:after, &.ui-state-focus:after
            background: #333
        &.ui-state-hover:before, &.ui-state-focus:before
          box-shadow: none
        &.ui-state-hover:after, &.ui-state-focus:after
          box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.4)
        a
          color: white
  img
    width: auto
    float: left
    margin: 0 1em 1em 0
    border-radius: 0px
  h1
    text-align: center
    font-size: 20px
  .sexytabs
    width: 100%
    min-width: 360px
    margin: auto
  .darkpage
    background: #333333
    color: white
  .lightpage
    padding: 50px 0
  .ui-tabs-nav li
    width: 24%
    margin-bottom: 5px
    height: auto
    white-space: normal
    border: 0px
  .dark-wrapper
    max-height: 110px
    overflow: hidden
    margin-top: 12px
    padding-right: 0px
    padding-left: 8px
    width: 100%
    img 
      width: 100%
  .generic-anchor.dark-tabs-title
    margin-left: -7px !important
    padding-bottom: 0px !important
  .span4
    width: 32.6530612244898%
    float: left
  .span8
    width: 66%
    float: left
    padding-left: 20px
    margin-top: 10px
  .group-type
    margin-top: 20px    
    font-size: 18px
  #Gosling
    padding-left: 10px
    padding-bottom: 30px
  #Timberlake    
    padding-left: 10px
    padding-bottom: 30px
  .ui-widget-content
    border: 0px
    background: #222
  .ui-widget-header 
    border: 0px
    background: none
    color: inherit
  .ui-tabs-nav li a
    padding: 0px !important
  .ui-corner-all
    border-radius: 0px
  .ui-widget-header
    border: 0px
  li.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active
    background-color: #222 !important
  .para.stack:hover
    border-top: none
    margin-top: 0px
  a#ui-id-1
    margin-top: 20px
    
p.how-many-discussions
  color: #eee

@media screen and (min-width: 1000px)
  .darkpage, .lightpage
    width: 100%
    float: left
    padding: 0
    
    
    
//medium+ screen sizes
@media (min-width:980px)
  .desktop-only
    display: block !important
  .mobile-only
    display: none !important
 
//small screen sizes
@media (max-width: 979px)
  .mobile-only
    display: block !important
  .desktop-only
    display: none !important
  #block-block-69
    .front-main-padding
      padding-left: 0px
      padding-right: 0px
      padding-bottom: 50px !important

@media (min-device-width : 415px) and (max-device-width : 768px)
  #block-block-74
    .sexytabs
      a h2
        font-size: 20px
        padding-left: 40px
        padding-right: 40px
        padding-top: 15px

        
        
.page-user-login.ui-login-forms .container
  background-color: white
  padding: 20px 40px 0px 40px
  margin-top: 50px
  margin-bottom: 50px

.page-user-login .ui-subtitle
  display: none


.page-user-register.ui-login-forms .container
  background-color: white
  padding: 20px 40px 0px 40px
  margin-top: 50px
  margin-bottom: 50px
    
.page-user-password.ui-login-forms .container 
  background-color: white
  padding: 20px 40px 0px 40px
  margin-top: 50px
  margin-bottom: 50px

.page-user-edit.ui-login-forms .container 
  background-color: white
  padding: 20px 40px 0px 40px
  margin-top: 50px
  margin-bottom: 50px

.page-user.ui-login-forms .container
  background-color: white
  padding: 20px 40px 0px 40px
  margin-top: 50px
  margin-bottom: 50px
    


.profile-page-edit
  display: none

.page-user-reset #main .container
  background-color: white
  padding: 20px 40px 0px 40px
  margin-top: 50px
  margin-bottom: 50px

#block-block-72
  min-height: 472px    

#block-block-79 
  i.icon-download
    display: inline-block
    margin-right: 0px
  li
    margin-bottom: 10px
    
    
.sy-pager
  display: none !important

.sy-caption-wrap .sy-caption
  left: -90% !important
  -moz-border-radius: 0px !important
  -webkit-border-radius: 0px !important
  border-radius: 0px !important
  font-weight: 500 !important
  font-size: 22px
  letter-spacing: 0.6px
  line-height: 25px
  width: 250px
  text-shadow: 1px 1px 1px black


#block-block-20
  margin-top: -13px !important


.quick-margins
  margin-bottom: -20px


.password-parent
  width: 100% !important

.confirm-parent
  width: 100% !important


.front-well-padding
  padding-left: 20px

div.form-item div.password-suggestions
  padding: 0.2em 0.5em
  margin: 0.7em 0
  width: 100% !important
  border: 1px solid #B4B4B4


.hub-header
  background: transparent !important
  padding: 8px 16px


.ui-hub-feature-img img
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 0px
  -webkit-box-shadow: 0px
  -moz-box-shadow: 0px
  box-shadow: none


#sidebar-second.span3
  margin-left: 0px !important

.sidebar-second .span9
  margin-left: 0px !important

.sidebar-first .span9
  margin-left: 0px !important

.page-dashboard #content-wrapper
  padding-right: 20px



.page-node-664 #main .container
  background-color: white
  padding: 20px 40px 0px 40px
  margin-top: 50px
  margin-bottom: 50px
  a
    color: inherit
    font-weight: 700
    &:before
      content: "\f054"
      font-family: fontawesome
      margin-right: 5px
      font-size: 12px
      color: red
      margin-left: 15px
      display: inline-block
  .node-promoted 
    display: block !important
  #edit-submit--2
    float: none
    width: 300px
    padding: 20px
    font-size: 20px
    font-weight: 600
    text-transform: uppercase
  .field-widget-options-buttons
    padding: 20px
    text-align: center
  .form-item label
    font-weight: 500
    font-size: 16px
  h2
    margin-bottom: 40px
    font-weight: 600
    text-align: center
    font-size: 24px
  #edit-actions--2
    text-align: center
  .field.field-name-body.field-type-text-with-summary.field-label-hidden
    text-align: center
  input[type=radio]
    display: none
    margin: 10px
  input[type=radio] + label
    display: inline-block
    margin: -2px
    padding: 4px 12px
    background-color: #e7e7e7
    border-color: #ddd
    width: 70px
    padding: 15px
    margin-top: 5px
  input[type=radio]:checked + label
    background-image: none
    background-color: #d0d0d0
    &:after
      content: "\f00c"
      font-family: fontawesome
    
.page-node-670 #main .container
  background-color: white
  padding: 20px 40px 0px 40px
  margin-top: 50px
  margin-bottom: 50px
  a
    color: inherit
    font-weight: 700
    &:before
      content: "\f054"
      font-family: fontawesome
      margin-right: 5px
      font-size: 12px
      color: red
      margin-left: 15px
      display: inline-block
  .node-promoted 
    display: block !important
  #edit-submit--2
    float: none
    width: 300px
    padding: 20px
    font-size: 20px
    font-weight: 600
    text-transform: uppercase
  .field-widget-options-buttons
    padding: 20px
    border-top: 2px dashed #eee
    text-align: center
  .form-item label
    font-weight: 500
    font-size: 16px
  h2
    margin-bottom: 40px
    font-weight: 600
    text-align: center
  #edit-actions--2
    text-align: center
  .field.field-name-body.field-type-text-with-summary.field-label-hidden
    text-align: center
  .form-item.form-type-textfield.form-item-field-ryi-email-und-0-value
    text-align: center
    margin-bottom: 40px
  #block-views-poll-results-block .view-footer
    font-size: 20px
    margin-bottom: 30px
    border-bottom: 2px dashed #eee
  .pre-instructions p:before
    content: "\f02d"
    font-family: fontawesome
    margin-right: 5px

.node-type-poll #main .container
  background-color: white
  padding: 20px 40px 0px 40px
  margin-top: 50px
  margin-bottom: 50px
  .submitted-content-posted
    display: none
  #edit-vote
    background: green
    border-radius: 0px
    text-shadow: none
    color: #eee
    margin-top: 20px
    width: 150px
    &:hover
      background-color: darkgreen
  input.form-submit.form-btn-success 
    background-color: orangered
    margin-top: 40px
    &:hover
      background-color: red

.page-eform-submit-email-capture #main .container
  background-color: white
  padding: 20px 40px 0px 40px
  margin-top: 50px
  margin-bottom: 50px 
  .submitted-content-posted
    display: none

#header_bottom_right .navbar .nav > li > a
  font-size: 14px
  text-transform: initial !important


#block-block-87
  margin-top: 20px !important

#block-block-88
  margin-top: 20px !important

#block-block-89
  margin-top: 40px
  border-top: 1px solid #bbb
  padding-top: 20px
  margin-bottom: 20px


#block-system-help
  margin-top: 50px
  margin-bottom: 20px
  text-align: left

.page-node-track #content-upper
  margin-top: 50px
  padding-bottom: 20px

.page-node-order #content-upper
  margin-top: 50px

.page-node-convert #content-upper
  margin-top: 50px

.page-node-628.page-node-edit #content-upper
  margin-top: 50px

.page-node-628.page-node-edit #block-book-explorer-book-explorer
  margin-left: 40px

.is_stuck
  margin-top: -20px

#sidebar-first.is_stuck
  box-shadow: 0px 15px 10px white

#sidebar-first.span3
  margin-left: 20px !important
  margin-right: -20px
  background-color: white
  z-index: 99999
  padding-bottom: 30px