// NAVIGATION - import where needed

.menu_primary
  font-size: 14px
  margin-right: -14px

.menu_primary ul
  width: auto
  float: right

.menu_primary ul.menu li a.active
  color: #333
  text-decoration: none
  background-color: #dcddd7
  border-bottom: 0px
  &:hover
    color: #333
    
.menu_primary ul.menu li a
  display: inline
  margin: 0
  float: left
  padding: 8px 16px 8px 16px
  border-bottom: 0px
  text-transform: uppercase
  font-weight: 700
  font-size: .857142em
  color: #adadad

#block-search-form .search-query
  height: 15px
  width: 80px
  color: #6a6767
  top: 12px
  padding: 5px 35px 5px 5px
  font-size: 1.286em
  border: 1px solid #d1d1d1
  background-color: #ededed !important
  color: #666
  border-radius: 0px
  font-family: 'Museo-500'
  box-shadow: none
  font-size: 14px

#header
  background: #333333
  border-bottom: 0px solid #F2F2F2
  margin-top: 0px
  margin-bottom: 0px

#header_top
  margin: 0px
  padding-bottom: 0px

#header_bottom_right
  padding-top: 0px
  margin-top: -3px
  .account-menu 
    float: left
    display: inline-block
    zoom: 1


#header_bottom
  margin-top: 0px
    
ul.menu a:hover
  background-color: transparent
  color: white !important
  text-decoration: underline
    
.nav > li > a:focus
  text-decoration: none
  background-color: transparent
  outline: none
    
.page-sub
  background: #1F1F1F
  color: white
  border-bottom: 0px

.RMIT-btn
  background: red
  box-shadow: 0px !important
  border-radius: 0px

.big-padding
  margin-top: 5px
  background: white
  .title
    padding-top: 20px
    padding-bottom: 10px
  .span4.reveal
    margin-left: 0px
    width: 33%
    transition: 0.1s
  .span4.reveal
    &:hover
      background: #ddd
      transition: 0.1s
  .row
    margin-left: 0px
  h2
    padding-top: 25px
    padding-bottom: 10px
    margin-top: 0px
  a
    color: #333 !important
    
#block-block-46
  margin-top: 25px
    
.para
  padding-left: 30px
  padding-right: 30px 

.para.stack
  padding-left: 0px
  padding-right: 0px 
  .row
    margin-right: 0px
  .row.no-padding
    padding: 0px !important
  &:hover
    border-top: 2px solid red
    margin-top: -2px
    
.row.row-alt
  background: #f5f5f5

.quote-front
  background: #F2F2F2
  margin-top: 15px
  padding: 0px 0px 0px 40px
  img
    min-height: 490px
  .home-offset-height
    max-height: 530px
    overflow: hidden
    
.container-fluid
  padding-right: 0px
  padding-left: 0px

.main 
  margin-bottom: 0px !important
  .block
    margin-bottom: 0px

.container
  width: 960px

#header_bottom_right #user_details .btn.dropdown-toggle
  padding: 4px 6px
  background: transparent
  color: #adadad
  text-shadow: none
  box-shadow: none
  border: 0px
  font-size: 13px
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  font-weight: 600

.nav-span
  margin-bottom: -3px

.site-footer
  margin-top: 10px
  margin-bottom: 10px

#main
  background-image: url("/sites/default/themes/flip_theme/img/background-abstract-placeholder.png")
  background-repeat: no-repeat
  background-size: 100%
  background-position: -10px 50px

#block-block-15 
  .row-fluid
    border-top: 1px solid #c7c7c7
        
#search-box
  padding-top: 25px

.header .site-logo img
  max-height: 55px
  margin-top: 15px

#header_bottom_right #user_details .navigation-profile-picture
  display: inline-block
  zoom: 1
  width: 30px
  padding-top: 0px

#header_bottom_right #user_details .navigation-profile-picture img
  width: 30px
  height: 30px
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  -webkit-border-radius: 30em
  -moz-border-radius: 30em
  border-radius: 0px
  border: 0px


// hide page title & admin menu //

.icon-chevron-right
  color: #DC291E

#page-title
  line-height: 1
  text-align: left
  display: none
    
#content-head
  .tabs
    display: none
        
.front-call
  background: #333333 !important
  height: 240px !important
  overflow: hidden
  img
    height: 100%
    width: 100%
    transition: 0.3s
    opacity: 0.8
  
.front-call-content
  color: #333333
  display: inline-flex
  font-family: Arial, Helvetica, sans-serif
  font-size: 13px
  font-weight: 700
  line-height: 1.167em
  margin: 0
  margin-left: 7px
  text-transform: uppercase
  padding: 15px
        
.front-call-bottom
  display: none
  background: #f5f5f5 !important
  height: 240px !important
  overflow: hidden
  p
    color: #f5f5f5
    padding: 15px

.front-call-bottom2
  display: none
  background: #f5f5f5 !important
  height: 240px !important
  overflow: hidden
  p
    color: #f5f5f5
    padding: 15px
  a
    &:hover
      text-decoration: none !important
    
    
.front-call-bottom3
  display: none
  background: #f5f5f5 !important
  height: 240px !important
  overflow: hidden
  p
    color: #f5f5f5
    padding: 15px
    
.front-call
  background: #333333 !important
  height: 240px !important
  overflow: hidden
  img
    height: 100%
    width: 100%
    transition: 0.3s
    opacity: 0.8
    
.front-call2
  background: #333333 !important
  height: 240px !important
  overflow: hidden
  img
    height: 100%
    width: 100%
    transition: 0.3s
    opacity: 0.8
    
.nav li.last.leaf.active-trail
  margin-left: -14px    

.front-call3
  background: #333333 !important
  height: 240px !important
  overflow: hidden
  img
    height: 100%
    width: 100%
    transition: 0.3s
    opacity: 0.8
        
.front 
  .icon-chevron-right:before
    content: "\f054"
    margin-right: 7px
    
.next-five-bottom
  margin-top: 25px

.node-promoted 
  display: none

.sixsix-percent
  width: 66%
  float: left
  .span12
    width: 100% !important
    
.fivefive-percent
  width: 49%
  float: left
  .span12
    width: 100% !important

.threethree-percent
  width: 32%
  float: right
  .quote-front
    background: #333
    color: white
  .span12
    width: 100% !important
    
.sixtwo-percent
  width: 62%
  float: left
  .span12
    width: 100% !important
    
.threesix-percent
  width: 36%
  float: right
  .span12
    width: 100% !important
    
.hundred-percent
  float: right
  width: 100%
  .span12
    width: 100% !important
    
#block-block-53
  float: right
    
#header_bottom_right
  .navbar .nav > li > .dropdown-menu:after
    display: none
  .navbar .nav > li > .dropdown-menu:before
    display: none    
  .navbar .nav li.dropdown > a:hover .caret     
    border-top-color: inherit
    border-bottom-color: inherit
  .navbar
    overflow: visible
    margin-bottom: 0px
    .nav > li > a
      float: none
      padding: 0px
      color: #adadad !important
      text-decoration: none !important
      text-shadow: none !important
      font-weight: 700
      font-size: 0.85714em
      text-transform: uppercase
    .nav li.dropdown.open > .dropdown-toggle 
      background: transparent !important 
      color: white !important    
    .dropdown-menu
      margin-top: 1px    
      margin-left: -10px
      border: none    
      background: #333333
      > li > a:hover
        background: #dc291e
    ul.dropdown-menu li a
      color: white
  .navbar-inner
    min-height: 10px !important
    padding-top: 8px
    padding-left: 5px
    padding-right: 0px
    background-color: transparent
    background-image: none
    background-repeat: repeat-x
    filter: none
    border: 0px
    -webkit-border-radius: none
    -moz-border-radius: none
    border-radius: none
    -webkit-box-shadow: none
    -moz-box-shadow: none
    box-shadow: none
    
.row-fluid .span12
  margin-left: 0px

.row
  .padding-normal
    padding-left: 30px
    padding-right: 30px
    padding-bottom: 30px
  
.block-top
  margin-top: 15px !important

.full-img
  width: 100%

.icon-chevron-down:before
  content: "\f078"
  color: #dc291e

.alt-button
  width: 100%
  background: #dc291e
  border: 0px
  font-size: 14px
  font-family: 'museo-500'
  color: white
  text-shadow: none
  font-weight: 300
  box-shadow: none
  &:hover
    background: red
    color: white


#block-quicktabs-news-events-quicktab
  padding: 0px
  background: #333
  color: white
  ul.quicktabs-tabs
    margin-left: 0px
  ul.quicktabs-tabs li
    font-size: 22px
    font-family: 'Museo-500'
    display: inline-block
    width: 49.75%
    background-color: #242424
    border: 0px
    margin: 0px
    padding: 30px 0px 30px 0px
    min-width: auto
    text-align: center
    border-radius: 0px
  ul.quicktabs-tabs li.active
    background-color: #333
  a#quicktabs-tab-news_events_quicktab-1
    color: white !important
  a#quicktabs-tab-news_events_quicktab-0
    color: white !important
  #quicktabs-tab-news_events_quicktab-1
    padding-bottom: 5px
  #quicktabs-tab-news_events_quicktab-0
    padding-bottom: 5px
  
.news-block
  padding-right: 20px
  padding-left: 20px
  padding-bottom: 10px
  padding-top: 10px
  .created
    font-size: 12px
    padding-left: 15px
  .body
    padding-left: 15px
  .news-content
    padding-left: 15px
  .news-title
    font-family: 'Museo-500'
    font-size: 16px
    margin-bottom: -10px
    a
      color: white !important
  .span12
    width: auto !important
  .img-wrapper
    width: 220px
    height: 120px
    overflow: hidden
    img
      min-width: 100%