@font-face {
  font-family: "Museo-500";
  src: url("/sites/default/themes/flip_theme/font/2E2515_0_0.eot");
  src: url("/sites/default/themes/flip_theme/font/2E2515_0_0.eot?#iefix") format("embedded-opentype"), url("/sites/default/themes/flip_theme/font/2E2515_0_0.woff2") format("woff2"), url("/sites/default/themes/flip_theme/font/2E2515_0_0.woff") format("woff"), url("/sites/default/themes/flip_theme/font/2E2515_0_0.ttf") format("truetype"); }
body {
  background: none;
  background-color: #dcddd7;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4em;
  letter-spacing: normal; }

p {
  line-height: 1.4em;
  font-size: 14px; }

h1 {
  font-size: 21px;
  margin-top: 24px;
  margin-bottom: 12px;
  font-family: "Museo-500";
  font-weight: 300; }

h2 {
  font-size: 22px;
  margin-top: 24px;
  margin-bottom: 12px;
  font-family: "Museo-500";
  font-weight: 300; }

h3 {
  margin-top: 24px;
  margin-bottom: 12px;
  font-family: "Museo-500";
  font-size: 1.2em;
  padding: 0;
  font-weight: 300; }

h4 {
  font-size: 12px;
  line-height: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
  font-family: "Museo-500";
  font-weight: 300; }

h5 {
  font-size: 16px;
  line-height: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
  font-family: "Museo-500";
  font-weight: 300; }

h6 {
  font-family: "Museo-500";
  font-size: 14px;
  font-weight: 300; }

.generic-anchor {
  color: #333333;
  display: inline-flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.167em;
  margin: 0;
  margin-left: 7px;
  text-transform: uppercase; }

a [class^="icon-"], a [class*=" icon-"] {
  display: inline;
  margin-right: 7px;
  text-decoration: none !important; }

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0; }

b, strong, em, small, code {
  line-height: 1; }

sup {
  vertical-align: baseline;
  position: relative;
  top: -0.4em; }

sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
  top: 0.4em; }

.item-list ul li {
  list-style-type: none; }

ol.search-results {
  border-top: 0px; }

#header_top {
  border-bottom: none; }

.title_block {
  background: none;
  border-bottom: 1px solid #f2f2f2; }

.topic_host {
  background-color: transparent; }

#sidebar-first {
  outline: none !important; }

.field-type-text-with-summary {
  border-bottom: none; }

.breadcrum h1 {
  font-size: 2.5em;
  line-height: 1.2em;
  margin-top: 20px;
  max-width: none; }

div.modal-forms-modal-content {
  color: inherit !important;
  height: auto !important;
  border-radius: 3px; }
  div.modal-forms-modal-content .popups-container {
    padding: 30px;
    width: auto;
    height: auto;
    background: white;
    position: fixed;
    z-index: 100;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  div.modal-forms-modal-content .popups-close {
    margin-top: -5px !important; }

hr {
  margin: 0px;
  border: 0;
  border-top: 0px;
  border-bottom: 1px solid #cccccc !important;
  margin-top: 10px;
  margin-bottom: 10px; }

#header_top_middle {
  padding-top: 15px !important; }
  #header_top_middle img {
    height: 70px; }

.html5-video-player:not(.ad-interrupting):not(.hide-info-bar) .html5-info-bar, .ended-mode.endscreen-loaded:not(.el-detailpage):not(.house-brand):not(.ad-interrupting) .html5-info-bar, html[data-player-size="fullscreen"] .html5-video-player:not(.house-brand):not(.ad-interrupting) .html5-info-bar {
  display: none !important; }

#block-block-20 {
  margin-top: 6px; }
  #block-block-20 .btn {
    padding: 0px;
    background: transparent;
    border: none;
    box-shadow: none;
    text-shadow: none; }
    #block-block-20 .btn a {
      text-decoration: none;
      color: white;
      font-weight: 700;
      border-bottom: 0px;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 0.85714em;
      color: #adadad !important;
      margin-right: 10px; }
      #block-block-20 .btn a:hover {
        color: white !important;
        text-decoration: underline !important; }

#block-search-form .btn-search {
  top: 0px;
  width: 17px;
  height: 17px; }

.menu_primary {
  font-size: 14px;
  margin-right: -14px; }

.menu_primary ul {
  width: auto;
  float: right; }

.menu_primary ul.menu li a.active {
  color: #333333;
  text-decoration: none;
  background-color: #dcddd7;
  border-bottom: 0px; }
  .menu_primary ul.menu li a.active:hover {
    color: #333333; }

.menu_primary ul.menu li a {
  display: inline;
  margin: 0;
  float: left;
  padding: 8px 16px 8px 16px;
  border-bottom: 0px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.85714em;
  color: #adadad; }

#block-search-form .search-query {
  height: 15px;
  width: 80px;
  color: #6a6767;
  top: 12px;
  padding: 5px 35px 5px 5px;
  font-size: 1.286em;
  border: 1px solid #d1d1d1;
  background-color: #ededed !important;
  color: #666666;
  border-radius: 0px;
  font-family: "Museo-500";
  box-shadow: none;
  font-size: 14px; }

#header {
  background: #333333;
  border-bottom: 0px solid #f2f2f2;
  margin-top: 0px;
  margin-bottom: 0px; }

#header_top {
  margin: 0px;
  padding-bottom: 0px; }

#header_bottom_right {
  padding-top: 0px;
  margin-top: -3px; }
  #header_bottom_right .account-menu {
    float: left;
    display: inline-block;
    zoom: 1; }

#header_bottom {
  margin-top: 0px; }

ul.menu a:hover {
  background-color: transparent;
  color: white !important;
  text-decoration: underline; }

.nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
  outline: none; }

.page-sub {
  background: #1f1f1f;
  color: white;
  border-bottom: 0px; }

.RMIT-btn {
  background: red;
  box-shadow: 0px !important;
  border-radius: 0px; }

.big-padding {
  margin-top: 5px;
  background: white; }
  .big-padding .title {
    padding-top: 20px;
    padding-bottom: 10px; }
  .big-padding .span4.reveal {
    margin-left: 0px;
    width: 33%;
    transition: 0.1s; }
  .big-padding .span4.reveal:hover {
    background: #dddddd;
    transition: 0.1s; }
  .big-padding .row {
    margin-left: 0px; }
  .big-padding h2 {
    padding-top: 25px;
    padding-bottom: 10px;
    margin-top: 0px; }
  .big-padding a {
    color: #333333 !important; }

#block-block-46 {
  margin-top: 25px; }

.para {
  padding-left: 30px;
  padding-right: 30px; }

.para.stack {
  padding-left: 0px;
  padding-right: 0px; }
  .para.stack .row {
    margin-right: 0px; }
  .para.stack .row.no-padding {
    padding: 0px !important; }
  .para.stack:hover {
    border-top: 2px solid red;
    margin-top: -2px; }

.row.row-alt {
  background: whitesmoke; }

.quote-front {
  background: #f2f2f2;
  margin-top: 15px;
  padding: 0px 0px 0px 40px; }
  .quote-front img {
    min-height: 490px; }
  .quote-front .home-offset-height {
    max-height: 530px;
    overflow: hidden; }

.container-fluid {
  padding-right: 0px;
  padding-left: 0px; }

.main {
  margin-bottom: 0px !important; }
  .main .block {
    margin-bottom: 0px; }

.container {
  width: 960px; }

#header_bottom_right #user_details .btn.dropdown-toggle {
  padding: 4px 6px;
  background: transparent;
  color: #adadad;
  text-shadow: none;
  box-shadow: none;
  border: 0px;
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600; }

.nav-span {
  margin-bottom: -3px; }

.site-footer {
  margin-top: 10px;
  margin-bottom: 10px; }

#main {
  background-image: url("/sites/default/themes/flip_theme/img/background-abstract-placeholder.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: -10px 50px; }

#block-block-15 .row-fluid {
  border-top: 1px solid #c7c7c7; }

#search-box {
  padding-top: 25px; }

.header .site-logo img {
  max-height: 55px;
  margin-top: 15px; }

#header_bottom_right #user_details .navigation-profile-picture {
  display: inline-block;
  zoom: 1;
  width: 30px;
  padding-top: 0px; }

#header_bottom_right #user_details .navigation-profile-picture img {
  width: 30px;
  height: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 30em;
  -moz-border-radius: 30em;
  border-radius: 0px;
  border: 0px; }

.icon-chevron-right {
  color: #dc291e; }

#page-title {
  line-height: 1;
  text-align: left;
  display: none; }

#content-head .tabs {
  display: none; }

.front-call {
  background: #333333 !important;
  height: 240px !important;
  overflow: hidden; }
  .front-call img {
    height: 100%;
    width: 100%;
    transition: 0.3s;
    opacity: 0.8; }

.front-call-content {
  color: #333333;
  display: inline-flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.167em;
  margin: 0;
  margin-left: 7px;
  text-transform: uppercase;
  padding: 15px; }

.front-call-bottom {
  display: none;
  background: whitesmoke !important;
  height: 240px !important;
  overflow: hidden; }
  .front-call-bottom p {
    color: whitesmoke;
    padding: 15px; }

.front-call-bottom2 {
  display: none;
  background: whitesmoke !important;
  height: 240px !important;
  overflow: hidden; }
  .front-call-bottom2 p {
    color: whitesmoke;
    padding: 15px; }
  .front-call-bottom2 a:hover {
    text-decoration: none !important; }

.front-call-bottom3 {
  display: none;
  background: whitesmoke !important;
  height: 240px !important;
  overflow: hidden; }
  .front-call-bottom3 p {
    color: whitesmoke;
    padding: 15px; }

.front-call {
  background: #333333 !important;
  height: 240px !important;
  overflow: hidden; }
  .front-call img {
    height: 100%;
    width: 100%;
    transition: 0.3s;
    opacity: 0.8; }

.front-call2 {
  background: #333333 !important;
  height: 240px !important;
  overflow: hidden; }
  .front-call2 img {
    height: 100%;
    width: 100%;
    transition: 0.3s;
    opacity: 0.8; }

.nav li.last.leaf.active-trail {
  margin-left: -14px; }

.front-call3 {
  background: #333333 !important;
  height: 240px !important;
  overflow: hidden; }
  .front-call3 img {
    height: 100%;
    width: 100%;
    transition: 0.3s;
    opacity: 0.8; }

.front .icon-chevron-right:before {
  content: "\f054";
  margin-right: 7px; }

.next-five-bottom {
  margin-top: 25px; }

.node-promoted {
  display: none; }

.sixsix-percent {
  width: 66%;
  float: left; }
  .sixsix-percent .span12 {
    width: 100% !important; }

.fivefive-percent {
  width: 49%;
  float: left; }
  .fivefive-percent .span12 {
    width: 100% !important; }

.threethree-percent {
  width: 32%;
  float: right; }
  .threethree-percent .quote-front {
    background: #333333;
    color: white; }
  .threethree-percent .span12 {
    width: 100% !important; }

.sixtwo-percent {
  width: 62%;
  float: left; }
  .sixtwo-percent .span12 {
    width: 100% !important; }

.threesix-percent {
  width: 36%;
  float: right; }
  .threesix-percent .span12 {
    width: 100% !important; }

.hundred-percent {
  float: right;
  width: 100%; }
  .hundred-percent .span12 {
    width: 100% !important; }

#block-block-53 {
  float: right; }

#header_bottom_right .navbar .nav > li > .dropdown-menu:after {
  display: none; }
#header_bottom_right .navbar .nav > li > .dropdown-menu:before {
  display: none; }
#header_bottom_right .navbar .nav li.dropdown > a:hover .caret {
  border-top-color: inherit;
  border-bottom-color: inherit; }
#header_bottom_right .navbar {
  overflow: visible;
  margin-bottom: 0px; }
  #header_bottom_right .navbar .nav > li > a {
    float: none;
    padding: 0px;
    color: #adadad !important;
    text-decoration: none !important;
    text-shadow: none !important;
    font-weight: 700;
    font-size: 0.85714em;
    text-transform: uppercase; }
  #header_bottom_right .navbar .nav li.dropdown.open > .dropdown-toggle {
    background: transparent !important;
    color: white !important; }
  #header_bottom_right .navbar .dropdown-menu {
    margin-top: 1px;
    margin-left: -10px;
    border: none;
    background: #333333; }
    #header_bottom_right .navbar .dropdown-menu > li > a:hover {
      background: #dc291e; }
  #header_bottom_right .navbar ul.dropdown-menu li a {
    color: white; }
#header_bottom_right .navbar-inner {
  min-height: 10px !important;
  padding-top: 8px;
  padding-left: 5px;
  padding-right: 0px;
  background-color: transparent;
  background-image: none;
  background-repeat: repeat-x;
  filter: none;
  border: 0px;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.row-fluid .span12 {
  margin-left: 0px; }

.row .padding-normal {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px; }

.block-top {
  margin-top: 15px !important; }

.full-img {
  width: 100%; }

.icon-chevron-down:before {
  content: "\f078";
  color: #dc291e; }

.alt-button {
  width: 100%;
  background: #dc291e;
  border: 0px;
  font-size: 14px;
  font-family: "museo-500";
  color: white;
  text-shadow: none;
  font-weight: 300;
  box-shadow: none; }
  .alt-button:hover {
    background: red;
    color: white; }

#block-quicktabs-news-events-quicktab {
  padding: 0px;
  background: #333333;
  color: white;
  margin-left: 0px; }
  #block-quicktabs-news-events-quicktab ul.quicktabs-tabs li {
    font-size: 22px;
    font-family: "Museo-500";
    display: inline-block;
    width: 49%;
    background-color: #242424;
    border: 0px;
    margin: 0px;
    padding: 30px 3px 30px 3px;
    min-width: auto;
    text-align: center;
    border-radius: 0px; }
  #block-quicktabs-news-events-quicktab ul.quicktabs-tabs li.active {
    background-color: #333333; }
  #block-quicktabs-news-events-quicktab a#quicktabs-tab-news_events_quicktab-1 {
    color: white !important; }
  #block-quicktabs-news-events-quicktab a#quicktabs-tab-news_events_quicktab-0 {
    color: white !important; }

.node-knowledge-object .field-name-body {
  border-bottom: none;
  margin-top: 10px;
  background-color: #f2f2f2;
  border-radius: 5px 5px;
  border: 1px solid lightgray;
  text-align: center;
  padding: 10px 10px 10px 10px; }
.node-knowledge-object .field .field-label {
  display: none; }
.node-knowledge-object .field-name-field-ko-external-link {
  float: right;
  border-bottom: none;
  margin-top: 10px;
  background-color: #f2f2f2;
  border-radius: 5px 5px;
  border: 1px solid lightgray;
  text-align: center;
  padding: 10px 10px 10px 10px; }
.node-knowledge-object .field-name-field-featured-image {
  background-color: #f2f2f2;
  border-radius: 5px 5px;
  border: 1px solid lightgray;
  text-align: center;
  padding: 10px 10px 10px 10px;
  width: 50%; }

.page-node-588 #quicktabs-updates_events {
  margin-top: 2rem; }
  .page-node-588 #quicktabs-updates_events .topic-feature {
    margin-bottom: 0; }
.page-node-588 #main {
  margin-bottom: 0;
  padding-bottom: 2rem;
  padding-top: 1rem; }
.page-node-588 #block-system-main .content .row {
  margin-left: 0;
  margin-right: 0; }
  .page-node-588 #block-system-main .content .row .view-news-update .span6 {
    margin-left: 10px; }
    @media all and (max-width: 767px) {
      .page-node-588 #block-system-main .content .row .view-news-update .span6 {
        margin-left: 0; } }
  .page-node-588 #block-system-main .content .row .view-news-update:first-child .span6 {
    margin-left: 0; }

@media all and (max-width: 767px) {
  .topic_featured .content, .main-upper .content {
    background: transparent; } }
.update-featured {
  border: 1px solid #dddddd;
  margin-right: 10px;
  margin-bottom: 30px; }
  .update-featured header {
    position: relative; }
    .update-featured header .article_icon {
      background: #dddddd;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 80px;
      height: 100%;
      text-align: center; }
      .update-featured header .article_icon i {
        color: white;
        font-size: 2.25rem;
        display: block;
        margin-top: 2rem; }
  .update-featured .article_body {
    padding: 0.7777em 1.25em 1em 1.25em;
    background: none; }
  .update-featured .user-picture-small {
    background-color: none; }
    .update-featured .user-picture-small img {
      width: 22px;
      height: 22px; }

.update-featured .article_host, .update-node .article_host {
  border-top: 1px solid #dddddd;
  padding-top: 0.5em; }
  .update-featured .article_host p, .update-node .article_host p {
    font-size: 0.875rem; }
  .update-featured .article_host .article_host_name, .update-node .article_host .article_host_name {
    margin-left: 1em; }

.update-node {
  background: #dddddd;
  border: 1px solid #dddddd;
  position: relative;
  margin-bottom: 1rem; }
  .update-node:after, .update-node:before {
    right: 100%;
    top: 1.875rem;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .update-node:after {
    border-color: rgba(41, 143, 139, 0);
    border-right-color: #dddddd;
    border-width: 10px;
    margin-top: -10px; }
  .update-node:before {
    border-color: rgba(153, 153, 153, 0);
    border-right-color: #dddddd;
    border-width: 11px;
    margin-top: -11px; }
  @media all and (max-width: 767px) {
    .update-node:after, .update-node:before {
      top: 0%;
      left: 1.875rem; }
    .update-node:after {
      border-color: rgba(41, 143, 139, 0);
      border-right-color: transparent;
      border-bottom-color: #dddddd;
      border-width: 6px;
      margin-left: -6px; }
    .update-node:before {
      border-color: rgba(153, 153, 153, 0);
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-width: 7px;
      margin-left: -7px; } }
  .update-node aside {
    float: right;
    margin-left: 1rem; }
  .update-node header {
    background-color: #f2f2f2; }
    .update-node header:after {
      content: "";
      clear: left;
      display: table; }
    .update-node header h3 {
      float: left;
      margin: 0;
      padding-top: 0.875rem; }
    .update-node header .article_icon {
      background: #dddddd;
      display: block;
      float: left;
      margin-right: 1rem;
      padding: 1rem; }
      .update-node header .article_icon i {
        color: white;
        font-size: 1.5rem;
        display: block; }
  .update-node .article_body {
    padding: 0.7777em 1.25em 1em 1.25em;
    background: white;
    clear: left; }

.user-picture-small.updates {
  margin-top: 0.35rem;
  margin-left: 1rem; }
  @media all and (max-width: 767px) {
    .user-picture-small.updates {
      margin-bottom: 0.35rem;
      margin-top: 1rem;
      margin-left: 0.35rem; } }
  .user-picture-small.updates img {
    background-color: white;
    padding: 0.5rem; }

.updates-timeline {
  background: url("../img/timeline-tile.png") repeat-y 2rem center; }
  @media all and (max-width: 767px) {
    .updates-timeline {
      background-position: 1.35rem center; } }

@media all and (max-width: 767px) {
  .updates-timeline {
    background: none; } }

.page-node-588 #page-title {
  display: none; }
.page-node-588 h1 {
  padding-bottom: 0.25em;
  max-width: inherit; }

ul.quicktabs-tabs li a {
  color: #0088cc; }
  ul.quicktabs-tabs li a:hover {
    color: #005580; }

@media all and (max-width: 767px) {
  .user-picture-small.updates {
    display: none; } }

@media all and (max-width: 767px) {
  .page-node-588 .update-node aside {
    display: none; } }
@media all and (max-width: 767px) {
  .page-node-588 .update-node aside .update-node header h3 {
    float: none;
    padding-top: 6px;
    padding-right: 10px; } }

.node-type-event .event-image {
  width: 592px;
  float: right;
  margin-top: 10px;
  max-height: 190px;
  overflow: hidden; }
  .node-type-event .event-image img {
    border-radius: 0px; }
  @media all and (max-width: 979px) and (min-width: 593px) {
    .node-type-event .event-image .event-image {
      margin-bottom: 0px; } }
  @media all and (max-width: 979px) and (min-width: 593px) {
    .node-type-event .event-image .event-image {
      margin-bottom: 0px; } }
  @media all and (max-width: 592px) and (min-width: 1px) {
    .node-type-event .event-image .event-image {
      margin-bottom: 0px; } }
.node-type-event #page-title {
  display: none; }
.node-type-event .field .field-label {
  display: none !important; }

.event-info {
  background-color: transparent;
  padding: 30px;
  border-top: 2px solid white; }
  .event-info .field-type-text-with-summary {
    border-bottom: 0px solid #dddddd;
    margin-bottom: 0em;
    padding-bottom: 0em; }

.event-image-and-details {
  border-top: 2px solid white;
  width: auto;
  height: auto;
  overflow: hidden; }

.node-news-update #comments h2 {
  padding-left: 20px; }
  .node-news-update #comments h2 .submitted {
    width: 55% !important;
    padding: 10px; }
  .node-news-update #comments h2 .templatedtitlestyle {
    margin-top: 0px; }
  .node-news-update #comments h2 .field-name-field-date {
    display: none; }
  .node-news-update #comments h2 .field-type-text-with-summary {
    border: 1px solid white;
    padding: 30px; }

.event-location {
  width: 150px;
  margin-bottom: 10px;
  height: auto;
  font-size: 14px;
  float: left;
  padding-right: 40px; }

.event-date {
  width: 150px;
  margin-bottom: 10px;
  height: 110px;
  font-size: 14px;
  float: left; }

.templatedtitlestyle {
  margin-top: 25px; }
  .templatedtitlestyle h1 {
    line-height: 40px;
    margin-top: 20px; }

.posted-by-move-up {
  width: auto;
  margin-top: -20px; }

.events_front {
  position: relative;
  width: 100vw;
  left: calc(-50vw + 50%); }

.events_front .content {
  max-width: 980px;
  margin: auto; }

.events_front h2 {
  margin-left: 0px;
  margin-bottom: 0px;
  text-align: left;
  font-size: 24px; }

.events_front blockquote {
  margin: 0 0 10px 0; }

.view-events .views-row {
  position: relative;
  float: left;
  width: 240px;
  height: 400px;
  margin-top: 10px;
  margin-left: 0px;
  clear: none;
  display: inline;
  margin-right: 4%; }

.events-date h2, .events-date a {
  margin: 10px 0 5px 0;
  height: 45px;
  line-height: 23px; }

.events-date p {
  height: 50px; }

.events-org {
  vertical-align: top;
  text-align: right;
  margin-top: 10px;
  line-height: 10px; }

.node-book .contentarticle {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 30px;
  border: 1px solid #dddddd; }

.book-navigation .page-links {
  border-top: none;
  border-bottom: none;
  text-align: center;
  padding: 0.5em; }

#tab-container .ui-tab-content {
  background: #333333 !important; }

#tabs1-menu ul li a {
  color: #dcddd7 !important; }
  #tabs1-menu ul li a:hover {
    color: white !important; }

.ui-mobile-menu ul.etabs {
  background: #dcddd7;
  background-image: url("/sites/default/themes/flip_theme/img/background-abstract-placeholder.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: -325px -118px; }

ul.etabs li {
  border-left: 0px !important; }

ul.etabs li a {
  color: #dc291e; }

ul.etabs li a:hover, ul.etabs li a:focus, ul.etabs li a:active {
  text-decoration: none;
  color: white;
  background: #dc291e;
  -webkit-box-shadow: none;
  box-shadow: none; }

#tabs1-menu ul li a.active {
  text-decoration: none;
  background: #dc291e;
  color: white !important; }

#tab-container {
  border-bottom: 0px; }

#tabs1-menu ul li a:hover {
  text-decoration: none;
  background: #dc291e;
  color: white !important; }

ul.etabs li a.active {
  background: #dc291e;
  color: white;
  -webkit-box-shadow: none;
  box-shadow: none; }

#tabs1-profile ul li a {
  color: #999999; }
  #tabs1-profile ul li a:hover {
    text-decoration: none;
    background: #dc291e;
    color: white !important; }
  #tabs1-profile ul li a:active {
    text-decoration: none;
    background: #dc291e;
    color: white !important; }

#tabs1-profile li.first.leaf.active-trail a {
  background: #dc291e;
  color: white !important;
  text-decoration: none !important; }

#tabs1-search input.search-query {
  -webkit-border-radius: 15px 0 0 15px;
  border-radius: 15px 0 0 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 15px;
  width: 100%;
  color: #6a6767;
  top: 12px;
  padding: 5px 35px 5px 5px;
  font-size: 1.286em;
  font-family: "Museo-500";
  border: 1px solid #d1d1d1;
  background-color: white !important;
  color: #666666;
  border-radius: 0px;
  box-shadow: none;
  font-size: 14px; }

#tabs1-search input.btn-search {
  margin-left: 12px !important;
  margin-top: 14px !important;
  height: 17px !important;
  border-radius: 0px !important;
  background: gainsboro !important; }

.profile-page-title {
  color: #66b274; }
  .profile-page-title p {
    font-family: "Frutiger Light", Helvetica, Arial, sans-serif; }

.dash_profile .content div {
  text-align: left; }

@media only screen and (min-device-width: 320px) and (max-device-width: 667px) {
  .container {
    width: 100%; }

  #main {
    margin-top: -7px; }

  body {
    padding-left: 0px;
    padding-right: 0px; }

  .big-padding {
    width: 100%;
    overflow: hidden; }
    .big-padding h2 {
      padding-top: 40px;
      padding-bottom: 15px;
      margin-top: 0px;
      text-align: left;
      font-size: 20px;
      padding-left: 20px;
      padding-right: 20px; }
    .big-padding .span4.reveal {
      width: 100%; }

  .para h2 {
    padding-left: 0px;
    padding-right: 0px; }

  .quote-front {
    background: #f2f2f2;
    margin-top: 25px;
    padding-left: 20px;
    padding-right: 20px; }

  .footer-content .block {
    width: 100%; }

  #main-content {
    margin-top: 0px;
    padding-top: 0px; }

  h2 {
    font-size: 20px; }

  #admin-menu-wrapper {
    padding: 0px;
    margin-top: -30px; } }
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  .front-call {
    height: 300px !important; }

  .front-call2 {
    height: 300px !important; }

  .front-call3 {
    height: 300px !important; } }
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
  .container {
    width: 100%; }

  #main {
    margin-top: -7px; }

  body {
    padding-left: 0px;
    padding-right: 0px; }

  .big-padding {
    width: 100%;
    overflow: hidden; }
    .big-padding h2 {
      padding-top: 40px;
      padding-bottom: 15px;
      margin-top: 0px;
      text-align: left;
      font-size: 20px;
      padding-left: 20px;
      padding-right: 20px; }
    .big-padding .span4.reveal {
      width: 33%;
      display: inline-block;
      margin-right: -4px; }

  .quote-front {
    background: #f2f2f2;
    margin-top: 25px;
    padding-left: 20px;
    padding-right: 20px; }

  .footer-content .block {
    width: 100%; }

  #main-content {
    margin-top: 0px;
    padding-top: 0px; }

  h2 {
    font-size: 20px; }

  #admin-menu-wrapper {
    padding: 0px;
    margin-top: -30px; }

  .front-call {
    height: 280px !important; }

  .front-call2 {
    height: 280px !important; }

  .front-call3 {
    height: 280px !important; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .container {
    width: 100%; }

  #main {
    margin-top: -7px; }

  body {
    padding-left: 0px;
    padding-right: 0px; }

  #main-content {
    margin-top: 0px;
    padding-top: 0px; }

  .big-padding {
    width: 100%;
    overflow: hidden; } }
@media (min-width: 1200px) {
  .span12 {
    width: 960px !important; } }
